<div id="FrmExecute">
    <div class="form-integra">
        <div class="container-fluid">
            <section class="section-integra">
                    <h3 class="text-light">Informações da Solicitação</h3>
            </section>
            <section id="section-informacoes-solicitacao">
                <div id="div-informacoes-solicitacao-firstRow" class="row">
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.tipo}</label>
                            {Campo.tipo}
                        </div>
                    </div>
                    <div id="div-search-emprestimo" class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.numero}</label>
                            <div class="input-group">
                                {Campo.numero}
                                <div class="input-group-append">
                                    <button type="button" id="search-emprestimo" class="btn btn-primary" style="display: none">Buscar <span id="spinner-loader" class="spinner-border spinner-border-sm" role="status"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-informacoes-emprestimo">
                <h5 class="text-dark border-bottom border-gray pb-2"><span><i class="far fa-file-alt"></i></span> Informações do Empréstimo</h5>
                <div id="div-informacoes-emprestimo-firstRow" class="row">
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.conta}</label>
                            {Campo.conta}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.associado}</label>
                            {Campo.associado}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.linhaDeCredito}</label>
                            {Campo.linhaDeCredito}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.valor}</label>
                            {Campo.valor}
                        </div>
                    </div>
                </div>
                <div id="div-informacoes-emprestimo-secondRow" class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.finalidade}</label>
                            {Campo.finalidade}
                        </div>
                    </div>
                </div>
                <div id="div-informacoes-emprestimo-thirdRow" class="row">
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.dataSolicitacao}</label>
                            {Campo.dataSolicitacao}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.dataAprovacao}</label>
                            {Campo.dataAprovacao}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.parcelas}</label>
                            {Campo.parcelas}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.seguroPrestamista}</label>
                            {Campo.seguroPrestamista}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.tipoVencimento}</label>
                            {Campo.tipoVencimento}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.diaVencimento}</label>
                            {Campo.diaVencimento}
                        </div>
                    </div>
                </div>
                <div id="div-informacoes-emprestimo-forthRow" class="row">
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.carenciaPrimParc}</label>
                            {Campo.carenciaPrimParc}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.jurosNaCarencia}</label>
                            {Campo.jurosNaCarencia}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.financiarIof}</label>
                            {Campo.financiarIof}
                        </div>
                    </div>
                    <div id="div-numero-contrato-anterior-pai" class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.numeroContratoAnteriorMae}</label>
                            {Campo.numeroContratoAnteriorMae}
                        </div>
                    </div>
                </div>
                <div id="div-informacoes-emprestimo-fifthRow" class="row">
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.dataVencimentoTitulo}</label>
                            {Campo.dataVencimentoTitulo}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.totalParcelasTitulo}</label>
                            {Campo.totalParcelasTitulo}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.valorTitulo}</label>
                            {Campo.valorTitulo}
                        </div>
                    </div>
                </div>
                <div id="div-informacoes-emprestimo-sixthRow" class="row">
                    <div id="inputPendenciaExcecao" class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.possuiPendenciaExcecao}</label>
                            {Campo.possuiPendenciaExcecao}
                        </div>
                    </div>
                </div>
                <div id="div-informacoes-emprestimo-seventhRow" class="row pt-2">
                    <div id="areaPendenciaExcecao" class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.dadosDaPendenciaExcecao}</label>
                            {Campo.dadosDaPendenciaExcecao}
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-informacoes-arquivamento">
                <h5 class="text-dark border-bottom border-gray pb-2"><span><i class="fas fa-archive"></i></span> Informações para Arquivamento</h5>
                <div id="div-informacoes-arquivamento-firstRow" class="row">
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.numeroDaCaixa}</label>
                            {Campo.numeroDaCaixa}
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-informacoes-garantias" class="pt-2" style="display: none">
                <h5 class="text-dark border-bottom border-gray pb-2"><span><i class="fas fa-university"></i></span> Informações das Garantias</h5>
                <div id="div-informacoes-garantias">
                    <div id="div-informacoes-garantias-avalistas">
                        <div id="div-informacoes-garantias-resumo-avalistas" class="row" style="display: none"></div>
                        <div id="div-informacoes-garantias-cards-avalistas" class="row" style="display: none"></div>
                    </div>
                    <div id="div-informacoes-garantias-cheques">
                        <div id="div-informacoes-garantias-resumo-cheques" class="row" style="display: none"></div>
                        <div id="div-informacoes-garantias-cards-cheques" class="row" style="display: none"></div>
                    </div>
                    <div id="div-informacoes-garantias-cartoes">
                        <div id="div-informacoes-garantias-resumo-cartoes" class="row" style="display: none"></div>
                        <div id="div-informacoes-garantias-cards-cartoes" class="row" style="display: none"></div>
                    </div>
                    <div id="div-informacoes-garantias-cotas">
                        <div id="div-informacoes-garantias-resumo-cotas" class="row" style="display: none"></div>
                        <div id="div-informacoes-garantias-cards-cotas" class="row" style="display: none"></div>
                    </div>
                    <div id="div-informacoes-garantias-veiculos">
                        <div id="div-informacoes-garantias-resumo-veiculos" class="row" style="display: none"></div>
                        <div id="div-informacoes-garantias-cards-veiculos" class="row" style="display: none"></div>
                    </div>
                    <div id="div-informacoes-garantias-imoveis">
                        <div id="div-informacoes-garantias-resumo-imoveis" class="row" style="display: none"></div>
                        <div id="div-informacoes-garantias-cards-imoveis" class="row" style="display: none"></div>
                    </div>
                    <div id="div-informacoes-garantias-aplicacoes">
                        <div id="div-informacoes-garantias-resumo-aplicacoes" class="row" style="display: none"></div>
                        <div id="div-informacoes-garantias-cards-aplicacoes" class="row" style="display: none"></div>
                    </div>
                    <div id="div-informacoes-garantias-outras">
                        <div id="div-informacoes-garantias-resumo-outras" class="row" style="display: none"></div>
                        <div id="div-informacoes-garantias-cards-outras" class="row" style="display: none"></div>
                    </div>
                </div>
            </section>
            <section id="section-informacoes-validacoes" class="pt-2" style="display: none">
                <h5 class="text-dark border-bottom border-gray pb-2"><span><i class="fas fa-tasks"></i></span> Informações para Verificação<a id="collapse-verificacao" class="text-dark float-right" onclick="collapseVerificacao(this)" target="waiting-collapse-integra" style="display: none"><i class="fas fa-chevron-down"></i></a></h5>
                    <div id="div-informacoes-verificacoes"></div>
            </section>
            <section id="section-informacoes-auxiliares" style="display: none">
                <div id="div-informacoes-auxiliares-firstRow" class="row">
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.nomeRequisitante}</label>
                            {Campo.nomeRequisitante}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.cooperativaRequisitante}</label>
                            {Campo.cooperativaRequisitante}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.areaRequisitante}</label>
                            {Campo.areaRequisitante}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.postoRequisitante}</label>
                            {Campo.postoRequisitante}
                        </div>
                    </div>
                </div>
                <div id="div-informacoes-auxiliares-SecondRow" class="row">
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.areaResponsavel}</label>
                            {Campo.areaResponsavel}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.posicaoResponsavel}</label>
                            {Campo.posicaoResponsavel}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.codigoUsuarioExecutor}</label>
                            {Campo.codigoUsuarioExecutor}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold">{Label.centralRequisitante}</label>
                            {Campo.centralRequisitante}
                        </div>
                    </div>
                </div>
                <div id="div-informacoes-auxiliares-ThirdRow" class="row">
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label class="font-weight-bold"
                                >{Label.message}</label
                            >
                            {Campo.message}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>