<div class="box box-open-and-close box-close" id="formInformacoesDemissao">
	<div class="box-inner">
		<div class="box-header" style="background-color: rgb(0, 75, 53);text-align: center;">
			<h2 style="color:#ffffff">
				<b>Informa&ccedil;&otilde;es da Demiss&atilde;o</b></h2>
		</div>
		<div class="alert alert-warning" id="alert-change-task-user" role="alert" style="display:none">
			Favor verificar se o usu&aacute;rio do(a) colaborador(a) demitido(a) possui atividades pendentes nas ferramentas ou solicita&ccedil;&otilde;es pendentes nas ferramentas. Caso sim, deve-se realizar a transfer&ecirc;ncia ao(&agrave;) colaborador(a) indicado(a) no formul&aacute;rio. Caso n&atilde;o, pode desconsiderar esta etapa de verifica&ccedil;&atilde;o.</div>
		<div class="padded">
			<div class="box-container" id="tblorigem">
				<table border="0" cellpadding="1" cellspacing="1" class="table table-striped table-bordered table-hover" mult="N" style="width: 100%;">
					<tbody>
						<tr>
							<td id="estagiario" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.estagiario}</b> <font color="SteelBlue">{Campo.estagiario}</font></td>
							<td id="solicitacaoDemissao" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.solicitacaoDemissao}</b> <font color="SteelBlue">{Campo.solicitacaoDemissao}</font></td>
						</tr>
						<tr>
							<td id="colaborador" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.colaborador}</b> <font color="SteelBlue">{Campo.colaborador}</font></td>
							<td id="causaDemissao" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.causaDemissao}</b> <font color="SteelBlue">{Campo.causaDemissao}</font></td>
						</tr>
						<tr>
							<td id="tipoAviso" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.tipoAviso}</b> <font color="SteelBlue">{Campo.tipoAviso}</font></td>
							<td id="transferirAtividade" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.transferirAtividadesPendentesParaOaSeguinteColaboradora}</b> <font color="SteelBlue">{Campo.transferirAtividadesPendentesParaOaSeguinteColaboradora}</font></td>
						</tr>
						<tr>
							<td id="dataAviso" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.dataAviso}</b> <font color="SteelBlue">{Campo.dataAviso}</font></td>
							<td id="horaAviso" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.horaAviso}</b> <font color="SteelBlue">{Campo.horaAviso}</font></td>
						</tr>
						<tr>
							<td id="dataDesligamento" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.dataDesligamento}</b> <font color="SteelBlue">{Campo.dataDesligamento}</font></td>
							<td id="horaDesligamento" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.horaDesligamento}</b> <font color="SteelBlue">{Campo.horaDesligamento}</font></td>
						</tr>
						<tr>
							<td id="necessitaAcessoColaborador" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.necessitaAcessoColaborador}</b> <font color="SteelBlue">{Campo.necessitaAcessoColaborador}</font></td>
							<td id="data" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.data}</b> <font color="SteelBlue">{Campo.data}</font></td>
						</tr>
						<tr>
							<td id="gestorInformado" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.gestorInformado}</b> <font color="SteelBlue">{Campo.gestorInformado}</font></td>
						</tr>
					</tbody>
				</table>
				<table border="0" cellpadding="1" cellspacing="1" class="table table-striped table-bordered table-hover" id="examesHomologacao" mult="N" style="width: 100%;">
					<tbody>
						<tr>
							<td colspan="2" style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<div align="center">
									<h5>
										Exames e Homologa&ccedil;&atilde;o</h5>
								</div>
							</td>
						</tr>
						<tr>
							<td id="dataExames" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.dataExames}</b> <font color="SteelBlue">{Campo.dataExames}</font></td>
							<td id="horaExame" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.horaExame}</b> <font color="SteelBlue">{Campo.horaExame}</font></td>
						</tr>
						<tr>
							<td id="dataHomolog" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.dataHomolog}</b> <font color="SteelBlue">{Campo.dataHomolog}</font></td>
							<td id="horaHomolog" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.horaHomolog}</b> <font color="SteelBlue">{Campo.horaHomolog}</font></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="box box-open-and-close box-close" id="formInformacoesPagamento">
	<div class="box-inner">
		<div class="box-header" style="background-color: rgb(0, 75, 53);text-align: center;">
			<h2 style="color:#ffffff">
				<b>Informa&ccedil;&otilde;es do Pagamento</b></h2>
		</div>
		<div class="padded">
			<div class="box-container" id="tblorigem">
				<table border="0" cellpadding="1" cellspacing="1" class="table table-striped table-bordered table-hover" mult="S" style="width: 100%;">
					<tbody id="multivalorada">
						<tr>
							<td style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;">
								<b>{Label.tipo}</b></td>
							<td style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;">
								<b>{Label.dadoValor}</b></td>
						</tr>
						<tr>
							<td style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;">
								<font color="SteelBlue">{Campo.tipo}</font></td>
							<td style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;">
								<font color="SteelBlue">{Campo.dadoValor}</font></td>
						</tr>
					</tbody>
				</table>
				<table border="0" cellpadding="1" cellspacing="1" class="table table-striped table-bordered table-hover" id="dataPagamento" mult="N" style="width: 100%;">
					<tbody>
						<tr>
							<td colspan="2" id="dataPagamentos" style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.dataPagamentos}</b> <font color="SteelBlue">{Campo.dataPagamentos}</font></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="box box-open-and-close box-close" id="formChecklist">
	<div class="box-inner">
		<div class="box-header" style="background-color: rgb(0, 75, 53);text-align: center;">
			<h2 style="color:#ffffff">
				<b>Check-List de Rescis&atilde;o Colaborador(a)</b></h2>
		</div>
		<div class="padded">
			<div class="box-container" id="tblorigem">
				<table border="0" cellpadding="1" cellspacing="1" class="table table-striped table-bordered table-hover" mult="N" style="width: 100%;">
					<tbody>
						<tr>
							<td colspan="2" id="checklistEntregas" style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;">
								<b>{Label.materiaisDoExpedienteParaTransferirAoSubstituto}</b> <font color="SteelBlue">{Campo.materiaisDoExpedienteParaTransferirAoSubstituto}</font></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="box box-open-and-close box-close" id="formCamposAuxiliares">
		<div class="box-inner">
			<div class="box-header" style="background-color: rgb(0, 75, 53);text-align: center;">
				<h2 style="color:#ffffff">
					<b>Informa&ccedil;&otilde;es Auxiliares</b></h2>
			</div>
			<div class="padded">
				<div class="box-container" id="tblorigem">
					<table border="0" cellpadding="1" cellspacing="1" class="table table-striped table-bordered table-hover" mult="N" style="width: 100%;">
						<tbody>
							<tr>
								<td id="cooperativaRequisitante" style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;">
									<b>{Label.cooperativaRequisitante}</b> <font color="SteelBlue">{Campo.cooperativaRequisitante}</font></td>
								<td id="areaRequisitante" style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;">
									<b>{Label.areaRequisitante}</b> <font color="SteelBlue">{Campo.areaRequisitante}</font></td>
							</tr>
							<tr>
								<td id="postoRequisitante" style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;">
									<b>{Label.postoRequisitante}</b> <font color="SteelBlue">{Campo.postoRequisitante}</font></td>
								<td id="tipoCadastrado" style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;">
									<b>{Label.tipoCadastrado}</b> <font color="SteelBlue">{Campo.tipoCadastrado}</font></td>
							</tr>
							<tr>
								<td id="areaResponsavel" style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;">
									<b>{Label.areaResponsavel}</b> <font color="SteelBlue">{Campo.areaResponsavel}</font></td>
								<td id="posicaoResponsavel" style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;">
									<b>{Label.posicaoResponsavel}</b> <font color="SteelBlue">{Campo.posicaoResponsavel}</font></td>
							</tr>
							<tr>
								<td id="dataAjusteDesligamento" style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;">
									<b>{Label.dataAjusteDesligamento}</b> <font color="SteelBlue">{Campo.dataAjusteDesligamento}</font></td>
								<td id="dataDesligamentoAcesso" style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;">
									<b>{Label.dataDesligamentoAcesso}</b> <font color="SteelBlue">{Campo.dataDesligamentoAcesso}</font></td>
							</tr>
							<tr>
								<td id="nomeGestor" style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;">
									<b>{Label.nomeGestor}</b> <font color="SteelBlue">{Campo.nomeGestor}</font></td>
								<td id="executorAtividade" style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;">
									<b>{Label.executorAtividade}</b> <font color="SteelBlue">{Campo.executorAtividade}</font></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<p>
		&nbsp;</p>
</div>
<p>
	&nbsp;</p>
