<div class="form-integra">
    <div class="container-fluid">
        <div class="card bg-primary text-white text-center mb-3">
            <div class="card-body p-2">
                <h4 class="mb-0">Informações da Solicitação</h4>
            </div>
        </div>
        <section id="section-informacoes-solicitacao">
            <div id="div-informacoes-solicitacao-firstRow" class="row">
                <div class="col-xs-12 col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold">{Label.cooperativaDestino}</label>
                        {Campo.cooperativaDestino}
                    </div>
                </div>
                <div id="coluna-colaborador" class="col-xs-12 col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold">{Label.colaborador}</label>
                        {Campo.colaborador}
                    </div>
                </div>
                <div id="div-search-proposta" class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label class="font-weight-bold">{Label.propostaDeCredito}</label>
                        <div class="input-group">
                            {Campo.propostaDeCredito}
                            <div class="input-group-append">
                                <button type="button" id="search-proposta" class="btn btn-primary" style="display: none">Buscar <span id="spinner-loader" class="spinner-border spinner-border-sm" role="status"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-informacoes-proposta">
            <h5 class="text-dark border-bottom border-gray pb-2"><span><i class="far fa-file-alt"></i></span> Informações da Proposta</h5>
            <div id="div-informacoes-proposta-firstRow" class="row">
                <div class="col-xs-12 col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold">{Label.conta}</label>
                        {Campo.conta}
                    </div>
                </div>
                <div class="col-xs-12 col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold">{Label.associado}</label>
                        {Campo.associado}
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label class="font-weight-bold">{Label.linhaDeCredito}</label>
                        {Campo.linhaDeCredito}
                    </div>
                </div>
            </div>
            <div id="div-informacoes-emprestimo-secondRow" class="row">
                <div class="col-xs-12 col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold">{Label.valorSolicitado}</label>
                        {Campo.valorSolicitado}
                    </div>
                </div>
                <div class="col-xs-12 col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold">{Label.dataSolicitacao}</label>
                        {Campo.dataSolicitacao}
                    </div>
                </div>
            </div>
        </section>
        <section id="section-informacoes-checklist-documentos">
            <h5 class="text-dark border-bottom border-gray pb-2"><span><i class="fas fa-tasks"></i></span> Checklist de Documentos</h5>
            <div class="table-responsive-sm">
                <table class="table table-striped" mult="S">
                    <thead>
                        <tr>
                            <th><span><i class="fas fa-filter"></i></span> {Label.tipo}</th>
                            <th><span><i class="fas fa-user"></i></span> {Label.nome}</th>
                            <th><span><i class="fas fa-file-alt"></i> {Label.documento}</th>
                            <th><span><i class="fas fa-check"></i> {Label.status}</th>
                            <th><span><i class="fas fa-cloud-upload-alt"></i></span> {Label.arquivo}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="checkTipo">{Campo.tipo}</td>
                            <td id="checkNome">{Campo.nome}</td>
                            <td>{Campo.documento}</td>
                            <td>{Campo.status}</td>
                            <td>{Campo.arquivo}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section id="section-informacoes-auxiliares" style="display: none">
            <div id="div-informacoes-auxiliares-firstRow" class="row">
                <div class="col-xs-12 col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold">{Label.cooperativaRequisitante}</label>
                        {Campo.cooperativaRequisitante}
                    </div>
                </div>
                <div class="col-xs-12 col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold">{Label.areaRequisitante}</label>
                        {Campo.areaRequisitante}
                    </div>
                </div>
                <div class="col-xs-12 col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold">{Label.areaResponsavel}</label>
                        {Campo.areaResponsavel}
                    </div>
                </div>
                <div class="col-xs-12 col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold">{Label.posicaoResponsavel}</label>
                        {Campo.posicaoResponsavel}
                    </div>
                </div>
                <div class="col-xs-12 col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold">{Label.nomeRequisitante}</label>
                        {Campo.nomeRequisitante}
                    </div>
                </div>
            </div>
            <div id="div-informacoes-auxiliares-secondRow" class="row">
                <div class="col-xs-12 col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold">{Label.associacao}</label>
                        {Campo.associacao}
                    </div>
                </div>
                <div class="col-xs-12 col-md-2">
                    <div class="form-group">
                        <label class="font-weight-bold">{Label.dataAssociacao}</label>
                        {Campo.dataAssociacao}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
