<div
  class="box box-open-and-close box-close"
  id="formIdentificacaoPerdasOperacionais"
>
  <div class="box-inner">
    <div
      class="box-header"
      style="background-color: rgb(0, 75, 53);text-align: center;"
    >
      <h2 style="color:#ffffff">
        <b>Identifica&ccedil;&atilde;o de Perdas Operacionais</b>
      </h2>
    </div>
    <div class="padded">
      <div class="box-container" id="tblorigem">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                colspan="1"
                id="agencia"
                rowspan="1"
                style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.agencia}</b>
                <font color="SteelBlue">{Campo.agencia}</font>
              </td>
            </tr>
          </tbody>
        </table>
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                colspan="2"
                style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <div align="center">
                  <h6>
                    Perda do Colaborador
                  </h6>
                </div>
              </td>
            </tr>
            <tr>
              <td
                colspan="1"
                id="CCNomeCompleto"
                rowspan="1"
                style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.CCNomeCompleto}</b>
                <font color="SteelBlue">{Campo.CCNomeCompleto}</font>
              </td>
              <td
                colspan="1"
                id="perdaDespesaAgencia"
                rowspan="1"
                style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.perdaDespesaAgencia}</b>
                <font color="SteelBlue">{Campo.perdaDespesaAgencia}</font>
              </td>
            </tr>
          </tbody>
        </table>
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                colspan="2"
                style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <div align="center">
                  <h6>
                    Cooperado
                  </h6>
                </div>
              </td>
            </tr>
            <tr>
              <td
                colspan="1"
                id="nomeCooperado"
                rowspan="1"
                style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.nomeCooperado}</b>
                <font color="SteelBlue">{Campo.nomeCooperado}</font>
              </td>
              <td
                colspan="1"
                id="contaCorrente"
                rowspan="1"
                style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.contaCorrente}</b>
                <font color="SteelBlue">{Campo.contaCorrente}</font>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                id="cpf"
                rowspan="1"
                style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.cpf}</b> <font color="SteelBlue">{Campo.cpf}</font>
              </td>
            </tr>
            <tr></tr>
          </tbody>
        </table>
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                colspan="1"
                id="dataFato"
                rowspan="1"
                style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.dataFato}</b>
                <font color="SteelBlue">{Campo.dataFato}</font>
              </td>
              <td
                colspan="1"
                id="dataLancamentoCC"
                rowspan="1"
                style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.dataLancamentoCC}</b>
                <font color="SteelBlue">{Campo.dataLancamentoCC}</font>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                id="valorTotalPerda"
                rowspan="1"
                style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.valorTotalPerda}</b>
                <font color="SteelBlue">{Campo.valorTotalPerda}</font>
              </td>
            </tr>
          </tbody>
        </table>
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                colspan="1"
                id="descricaoFato"
                rowspan="1"
                style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.descricaoFato}</b>
                <font color="SteelBlue">{Campo.descricaoFato}</font>
              </td>
              <td
                colspan="1"
                id="acoesRealizadasSugestoes"
                rowspan="1"
                style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.acoesRealizadasSugestoes}</b>
                <font color="SteelBlue">{Campo.acoesRealizadasSugestoes}</font>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                id="colaboradoresEnvolvidos"
                rowspan="1"
                style="width: 50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.colaboradoresEnvolvidos}</b>
                <font color="SteelBlue">{Campo.colaboradoresEnvolvidos}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="box box-open-and-close box-close" id="formCamposAuxiliares">
  <div class="box-inner">
    <div
      class="box-header"
      style="background-color: rgb(0, 75, 53);text-align: center;"
    >
      <h2 style="color:#ffffff">
        <b>Campos Auxiliares</b>
      </h2>
    </div>
    <div class="padded">
      <div class="box-container" id="tblorigem">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                colspan="1"
                id="cooperativaRequisitante"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.cooperativaRequisitante}</b>
                <font color="SteelBlue">{Campo.cooperativaRequisitante}</font>
              </td>
              <td
                colspan="1"
                id="areaRequisitante"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.areaRequisitante}</b>
                <font color="SteelBlue">{Campo.areaRequisitante}</font>
              </td>
            </tr>
            <tr>
              <td
                colspan="1"
                id="postoRequisitante"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.postoRequisitante}</b>
                <font color="SteelBlue">{Campo.postoRequisitante}</font>
              </td>
              <td
                colspan="1"
                id="tipoCadastrado"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.tipoCadastrado}</b>
                <font color="SteelBlue">{Campo.tipoCadastrado}</font>
              </td>
            </tr>
            <tr>
              <td
                colspan="1"
                id="areaResponsavel"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.areaResponsavel}</b>
                <font color="SteelBlue">{Campo.areaResponsavel}</font>
              </td>
              <td
                colspan="1"
                id="posicaoResponsavel"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.posicaoResponsavel}</b>
                <font color="SteelBlue">{Campo.posicaoResponsavel}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<p>
  &nbsp;
</p>
