<div class="box box-open-and-close box-close" id="informacoes-solicitacao">
  <div class="box-inner">
    <div
      class="box-header"
      style="background-color: rgb(0, 75, 53);text-align: center;"
    >
      <h2 style="color:#ffffff">
        <b>Informa&ccedil;&otilde;es da Solicita&ccedil;&atilde;o</b>
      </h2>
    </div>
    <div class="padded">
      <div class="box-container" id="informacoes-solicitacao">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                id="solicitacao-colaborador"
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.solicitacao}</b>
                <font color="SteelBlue">{Campo.solicitacao}</font>
              </td>
              <td
                id="solicitacao-gp"
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.ajusteDeAuxilioEducacao}</b>
                <font color="SteelBlue">{Campo.ajusteDeAuxilioEducacao}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-container" id="informacoes-tipos-solicitacao">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr id="informacoes-valor-reembolso">
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.valorTotal}</b>
                <font color="SteelBlue">{Campo.valorTotal}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.valorParaReembolsar}</b>
                <font color="SteelBlue">{Campo.valorParaReembolsar}</font>
              </td>
            </tr>
            <tr>
              <td
                id="informacao-solicitar-reajuste"
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.reajusteDeValor}</b>
                <font color="SteelBlue">{Campo.reajusteDeValor}</font>
              </td>
              <td
                id="motivo-reajuste"
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.motivoDoReajuste}</b>
                <font color="SteelBlue">{Campo.motivoDoReajuste}</font>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                id="descricao-do-motivo"
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
                td=""
              >
                <b>{Label.descricaoDoMotivoDeReajuste}</b>
                <font color="SteelBlue"
                  >{Campo.descricaoDoMotivoDeReajuste}</font
                >
              </td>
            </tr>
            <tr id="informacoes-valor-reajustado">
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.valorMensalReajustado}</b>
                <font color="SteelBlue">{Campo.valorMensalReajustado}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.valorCalculadoParaAuxilioReajustado}</b>
                <font color="SteelBlue"
                  >{Campo.valorCalculadoParaAuxilioReajustado}</font
                >
              </td>
            </tr>
            <tr id="informacoes-bloqueio">
              <td
                colspan="2"
                style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.colaboradoresParaBloqueio}</b>
                <font color="SteelBlue">{Campo.colaboradoresParaBloqueio}</font>
              </td>
            </tr>
            <tr id="informacoes-desbloqueio">
              <td
                colspan="2"
                style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.colaboradoresParaDesbloqueio}</b>
                <font color="SteelBlue"
                  >{Campo.colaboradoresParaDesbloqueio}</font
                >
              </td>
            </tr>
            <tr id="informacoes-manutencao">
              <td
                colspan="2"
                style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.manutencaoPara}</b>
                <font color="SteelBlue">{Campo.manutencaoPara}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<p>
  &nbsp;
</p>
<div class="box box-open-and-close box-close" id="informacoes-auxilio-educacao">
  <div class="box-inner">
    <div
      class="box-header"
      style="background-color: rgb(0, 75, 53);text-align: center;"
    >
      <h2 style="color:#ffffff">
        <b
          >Informa&ccedil;&otilde;es para Solicita&ccedil;&atilde;o de
          Aux&iacute;lio Educa&ccedil;&atilde;o</b
        >
      </h2>
    </div>
    <div class="padded">
      <div class="box-container" id="informacoes-auxilio-educacao">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.matricula}</b>
                <font color="SteelBlue">{Campo.matricula}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.cpf}</b> <font color="SteelBlue">{Campo.cpf}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.email}</b>
                <font color="SteelBlue">{Campo.email}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.dataAdmissao}</b>
                <font color="SteelBlue">{Campo.dataAdmissao}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.jaPossuiTituloDeGraducaoEouPosgraduacao}</b>
                <font color="SteelBlue"
                  >{Campo.jaPossuiTituloDeGraducaoEouPosgraduacao}</font
                >
              </td>
              <td
                id="quais-cursos"
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.quaisCursos}</b>
                <font color="SteelBlue">{Campo.quaisCursos}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.jaRecebeuAuxilioEducacaoDoSistemaUnicred}</b>
                <font color="SteelBlue"
                  >{Campo.jaRecebeuAuxilioEducacaoDoSistemaUnicred}</font
                >
              </td>
              <td
                id="quanto-tempo"
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.haQuantoTempo}</b>
                <font color="SteelBlue">{Campo.haQuantoTempo}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b
                  >{Label.recebeAuxilioEducacaobolsadescontoDeOutraInstituicao}</b
                >
                <font color="SteelBlue"
                  >{Campo.recebeAuxilioEducacaobolsadescontoDeOutraInstituicao}</font
                >
              </td>
              <td
                id="quais-programas"
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.emQuaisProgramasEstaInserido}</b>
                <font color="SteelBlue"
                  >{Campo.emQuaisProgramasEstaInserido}</font
                >
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b
                  >{Label.criteriosParaProsseguirComSolicitacaoDeAuxilioEducacao}</b
                >
                <font color="SteelBlue"
                  >{Campo.criteriosParaProsseguirComSolicitacaoDeAuxilioEducacao}</font
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<p>
  &nbsp;
</p>
<div class="box box-open-and-close box-close" id="informacoes-curso">
  <div class="box-inner">
    <div
      class="box-header"
      style="background-color: rgb(0, 75, 53);text-align: center;"
    >
      <h2 style="color:#ffffff">
        <b>Informa&ccedil;&otilde;es sobre o Curso</b>
      </h2>
    </div>
    <div class="padded">
      <div class="box-container" id="informacoes-curso">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.tipoAuxilioEducacao}</b>
                <font color="SteelBlue">{Campo.tipoAuxilioEducacao}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.instituicaoDeEnsino}</b>
                <font color="SteelBlue">{Campo.instituicaoDeEnsino}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.curso}</b>
                <font color="SteelBlue">{Campo.curso}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.modalidade}</b>
                <font color="SteelBlue">{Campo.modalidade}</font>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.totalDeHorasAula}</b>
                <font color="SteelBlue">{Campo.totalDeHorasAula}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.proximaParcela}</b>
                <font color="SteelBlue">{Campo.proximaParcela}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.quantidadeParcelasRestantes}</b>
                <font color="SteelBlue"
                  >{Campo.quantidadeParcelasRestantes}</font
                >
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.dataInicioCurso}</b>
                <font color="SteelBlue">{Campo.dataInicioCurso}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.dataTerminoCurso}</b>
                <font color="SteelBlue">{Campo.dataTerminoCurso}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.valorMensal}</b>
                <font color="SteelBlue">{Campo.valorMensal}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.valorCalculadoParaAuxilio}</b>
                <font color="SteelBlue">{Campo.valorCalculadoParaAuxilio}</font>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b
                  >{Label.emQueEsteCursoContribuiraParaUnicredESeuDesenvolvimento}</b
                >
                <font color="SteelBlue"
                  >{Campo.emQueEsteCursoContribuiraParaUnicredESeuDesenvolvimento}</font
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<p>
  &nbsp;
</p>
<div class="box box-open-and-close box-close" id="informacoes-auxiliares">
  <div class="box-inner">
    <div
      class="box-header"
      style="background-color: rgb(0, 75, 53);text-align: center;"
    >
      <h2 style="color:#ffffff">
        <b>Informa&ccedil;&otilde;es Auxiliares</b>
      </h2>
    </div>
    <div class="padded">
      <div class="box-container" id="informacoes-auxiliares-bd-integra">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr id="informacoes-pesquisa-colaborador">
              <td
                colspan="2"
                style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.colaboradorRequisitante}</b>
                <font color="SteelBlue">{Campo.colaboradorRequisitante}</font>
              </td>
            </tr>
            <tr id="informacoes-auxiliares-possibilidade">
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.possibilidadeSolicitacaoAuxilio}</b>
                <font color="SteelBlue"
                  >{Campo.possibilidadeSolicitacaoAuxilio}</font
                >
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.possibilidadeReembolsoAuxilio}</b>&nbsp;<font
                  color="SteelBlue"
                  >{Campo.possibilidadeReembolsoAuxilio}</font
                >
              </td>
            </tr>
            <tr id="informacoes-auxiliares-status">
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.status}</b>&nbsp;<font color="SteelBlue"
                  >{Campo.status}</font
                >
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.colaboradorSelecionado}</b>&nbsp;<font
                  color="SteelBlue"
                  >{Campo.colaboradorSelecionado}</font
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-container" id="informacoes-auxiliares-requisicao">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.cooperativaRequisitante}</b>
                <font color="SteelBlue">{Campo.cooperativaRequisitante}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.areaRequisitante}</b>
                <font color="SteelBlue">{Campo.areaRequisitante}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-container" id="informacoes-responsavel-analise">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                colspan="1"
                rowspan="1"
                style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.areaResponsavel}</b>
                <font color="SteelBlue">{Campo.areaResponsavel}</font>
              </td>
              <td
                colspan="1"
                rowspan="1"
                style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.posicaoResponsavel}</b>
                <font color="SteelBlue">{Campo.posicaoResponsavel}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<p>
  &nbsp;
</p>
<div class="box box-open-and-close box-close" id="informacoes-bd">
  <div class="box-inner">
    <div
      class="box-header"
      style="background-color: rgb(0, 75, 53);text-align: center;"
    >
      <h2 style="color:#ffffff">
        <b>Informa&ccedil;&otilde;es de Insert/Update</b>
      </h2>
    </div>
    <div class="padded">
      <div class="box-container" id="informacoes-bd">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                colspan="2"
                style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.bdTipo}</b>
                <font color="SteelBlue">{Campo.bdTipo}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.bdDataInicio}</b>
                <font color="SteelBlue">{Campo.bdDataInicio}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.bdDataTermino}</b>
                <font color="SteelBlue">{Campo.bdDataTermino}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.bdValorMensal}</b>
                <font color="SteelBlue">{Campo.bdValorMensal}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.bdValorReembolso}</b>
                <font color="SteelBlue">{Campo.bdValorReembolso}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.bdInicioPagamento}</b>
                <font color="SteelBlue">{Campo.bdInicioPagamento}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.bdLimiteReembolso}</b>
                <font color="SteelBlue">{Campo.bdLimiteReembolso}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
