<div class="box box-open-and-close box-close" id="informacoes-contrato">
	<div class="box-inner">
		<div class="box-header" style="background-color: rgb(0, 75, 53);text-align: center;">
			<h2 style="color:#ffffff">
				Informa&ccedil;&otilde;es do Contrato</h2>
		</div>
		<div class="padded">
			<div class="box-container" id="informacoes-iniciais-processo">
				<h3 align="center" id="mensagem-juridico">
					<u><b>A An&aacute;lise da &Aacute;rea Jur&iacute;dica restringe-se aos aspectos legais. Quest&otilde;es negociais s&atilde;o de responsabilidade do Solicitante.</b></u></h3>
				<h3 align="center" id="mensagem-diretoria">
					<u><b>Ol&aacute;, voc&ecirc; recebeu esta atividade, pois o solicitante n&atilde;o acatou as altera&ccedil;&otilde;es contratuais realizadas pelo Jur&iacute;dico da UCSC/PR. Neste caso, o contrato est&aacute; pendente de sua aprova&ccedil;&atilde;o para encaminhamento &agrave; &Aacute;rea Administrativa e recolhimento das assinaturas.</b></u></h3>
				<table border="0" cellpadding="1" cellspacing="1" class="table table-striped table-bordered table-hover" mult="N" style="width: 100%;">
					<tbody>
						<tr>
							<td style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.tipoDeSolicitacao}</b> <font color="SteelBlue">{Campo.tipoDeSolicitacao}</font></td>
							<td id="tipo-pessoa" style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.tipoDePessoa}</b> <font color="SteelBlue">{Campo.tipoDePessoa}</font></td>
						</tr>
						<tr id="informacoes-pessoais">
							<td id="nome" style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.nome}</b> <font color="SteelBlue">{Campo.nome}</font></td>
							<td id="cpfcnpj" style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.cpfcnpj}</b> <font color="SteelBlue">{Campo.cpfcnpj}</font></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="box-container" id="informacoes-categorizacao-contrato">
				<table border="0" cellpadding="1" cellspacing="1" class="table table-striped table-bordered table-hover" mult="N" style="width: 100%;">
					<tbody>
						<tr>
							<td style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.assunto}</b> <font color="SteelBlue">{Campo.assunto}</font></td>
							<td style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.documento}</b> <font color="SteelBlue">{Campo.documento}</font></td>
						</tr>
						<tr id="vigencia">
							<td style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.vigencia}</b> <font color="SteelBlue">{Campo.vigencia}</font></td>
							<td id="data-vigencia" style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.data}</b> <font color="SteelBlue">{Campo.data}</font></td>
						</tr>
						<tr>
							<td colspan="2" id="informacao-tipo-contrato" style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.tipoDeContrato}</b> <font color="SteelBlue">{Campo.tipoDeContrato}</font></td>
						</tr>
						<tr>
							<td colspan="2" style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.consideracoesDaNegociacao}</b> <font color="SteelBlue">{Campo.consideracoesDaNegociacao}</font></td>
						</tr>
						<tr>
							<td colspan="2" style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<h6 align="center" id="mensagem-objeto">
									<font color="Red">Descreva com suas pr&oacute;prias palavras o objeto do contrato.</font></h6>
								<b>{Label.objetoDoContrato}</b> <font color="SteelBlue">{Campo.objetoDoContrato}</font></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="box-container" id="informacoes-elaboracao">
				<table border="0" cellpadding="1" cellspacing="1" class="table table-striped table-bordered table-hover" mult="N" style="width: 100%;">
					<tbody>
						<tr>
							<td style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.representacao}</b> <font color="SteelBlue">{Campo.representacao}</font></td>
							<td style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.enderecoCompleto}</b> <font color="SteelBlue">{Campo.enderecoCompleto}</font></td>
						</tr>
						<tr>
							<td style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.valor}</b> <font color="SteelBlue">{Campo.valor}</font></td>
							<td style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.formaDePagamento}</b> <font color="SteelBlue">{Campo.formaDePagamento}</font></td>
						</tr>
						<tr>
							<td style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.prazoDePagamento}</b> <font color="SteelBlue">{Campo.prazoDePagamento}</font></td>
							<td style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.prazoAcordado}</b> <font color="SteelBlue">{Campo.prazoAcordado}</font></td>
						</tr>
						<tr>
							<td colspan="2" style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.possiveisPenalidades}</b> <font color="SteelBlue">{Campo.possiveisPenalidades}</font></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="box box-open-and-close box-close" id="informacoes-administrativas">
	<div class="box-inner">
		<div class="box-header" style="background-color: rgb(0, 75, 53);text-align: center;">
			<h2 style="color:#ffffff">
				Informa&ccedil;&otilde;es Administrativas</h2>
		</div>
		<div class="padded">
			<div class="box-container">
				<table border="0" cellpadding="1" cellspacing="1" class="table table-striped table-bordered table-hover" mult="N" style="width: 100%;">
					<tbody>
						<tr>
							<td style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.informacoesDePagamentorateioParaCooperativas}</b> <font color="SteelBlue">{Campo.informacoesDePagamentorateioParaCooperativas}</font></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="box-container" id="informacoes-marcos-administrativos">
				<table border="0" cellpadding="1" cellspacing="1" class="table table-striped table-bordered table-hover" mult="N" style="width: 100%;">
					<tbody>
						<tr>
							<td style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.marcoInicial}</b> <font color="SteelBlue">{Campo.marcoInicial}</font></td>
							<td style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.marcoFinal}</b> <font color="SteelBlue">{Campo.marcoFinal}</font></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="box box-open-and-close box-close" id="informacoes-auxiliares">
	<div class="box-inner">
		<div class="box-header" style="background-color: rgb(0, 75, 53);text-align: center;">
			<h2 style="color:#ffffff">
				Informa&ccedil;&otilde;es Auxiliares</h2>
		</div>
		<div class="padded">
			<div class="box-container">
				<table border="0" cellpadding="1" cellspacing="1" class="table table-striped table-bordered table-hover" mult="N" style="width: 100%;">
					<tbody>
						<tr>
							<td style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.cooperativaRequisitante}</b> <font color="SteelBlue">{Campo.cooperativaRequisitante}</font></td>
							<td style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.areaRequisitante}</b> <font color="SteelBlue">{Campo.areaRequisitante}</font></td>
						</tr>
						<tr>
							<td colspan="2" style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.tipoCadastrado}</b> <font color="SteelBlue">{Campo.tipoCadastrado}</font></td>
						</tr>
						<tr>
							<td style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.areaResponsavel}</b> <font color="SteelBlue">{Campo.areaResponsavel}</font></td>
							<td style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;">
								<b>{Label.posicaoResponsavel}</b> <font color="SteelBlue">{Campo.posicaoResponsavel}</font></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>