<style>
  .form-integra select[readonly] {
    background: #eee;
    pointer-events: none;
    touch-action: none;
  }

  .required {
    color: #000 !important;
  }

  h5.hr-title {
    margin-top: 1.3rem;
  }

  h5.hr-title i {
    margin-right: 1rem;
  }

  .funkyradio-success input[type='radio']:checked ~ label:before,
  .funkyradio-success input[type='checkbox']:checked ~ label:before {
    background-color: #016649;
  }

  .funkyradio input[type='radio']:empty ~ label.is-invalid:before,
  .funkyradio input[type='checkbox']:empty ~ label.is-invalid:before {
    border: 1px solid #dc3545;
  }

  .funkyradio input[type='radio']:empty ~ label.is-valid:before,
  .funkyradio input[type='checkbox']:empty ~ label.is-valid:before {
    border: 1px solid #28a745;
  }

  .funkyradio input[type='radio']:hover:not(:checked) ~ label:before,
  .funkyradio input[type='checkbox']:not(:checked) ~ label:before {
    color: #ffffff;
  }

  .was-validated .form-integra .form-control:valid,
  .form-integra .form-control.is-valid {
    background-position: right calc(0.375em + 0.58rem) center;
  }

  .was-validated .form-integra .form-control:invalid,
  .form-integra .form-control.is-invalid {
    background-position: right calc(0.375em + 0.58rem) center;
  }

  .label-div-contas {
    margin-bottom: -38px;
  }
</style>

<div class="form-integra">
  <div class="container-fluid">
    <div class="informacoes-do-coorperado">
      <div class="card bg-primary text-white text-center mb-3">
        <div class="card-body p-2">
          <h4 class="mb-0">Informações da Solicitação</h4>
        </div>
      </div>

      <section class="section-matricula">
        <div class="row">
          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.cooperativa}</label>
              {Campo.cooperativa}
            </div>
          </div>

          <!-- input text with search -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.cpfCnpj}</label>
              <div class="input-group">
                {Campo.cpfCnpj}
                <div style="display: none;" class="input-group-append">
                  <button
                    type="button"
                    class="btn btn-primary procurar-informacoes-do-cooperado"
                  >
                    Buscar
                    <span
                      style="display: none;"
                      class="spinner-border spinner-border-sm spinner-loader"
                      role="status"
                    ></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="informacoes-do-associado">
        <h5 class="hr-title text-dark border-bottom border-gray pb-2">
          <span><i class="fas fa-user-tie"></i></span>Informações do Associado
        </h5>

        <div class="row">
          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.matricula}</label>
              {Campo.matricula}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.posto}</label>
              {Campo.posto}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.nomeRazaoSocial}</label>
              {Campo.nomeRazaoSocial}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.tipoDePessoa}</label>
              {Campo.tipoDePessoa}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.profissaoRamo}</label>
              {Campo.profissaoRamo}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.celular}</label>
              {Campo.celular}
            </div>
          </div>
        </div>

        <div class="row pt-2">
          <!-- Table Multivalorada -->
          <div id="coluna-table-assinatura-digital" class="col-xs-12 col-md-12">
            <div class="table-responsive-sm">
              <table class="table table-striped" mult="S">
                <thead>
                  <tr>
                    <th>
                      <span><i class="fas fa-user"></i></span>
                      {Label.nomeDeQuemReceberaOArquivo}
                    </th>
                    <th>
                      <span><i class="fas fa-tasks"></i></span>
                      {Label.emailDeQuemReceberaOArquivo}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      {Campo.nomeDeQuemReceberaOArquivo}
                    </td>
                    <td>
                      {Campo.emailDeQuemReceberaOArquivo}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row div-contas-seleciodas">
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <label class="font-weight-bold">{Label.contas}</label>
              {Campo.contas}
            </div>
          </div>
        </div>

        <div style="display: none;" class="row label-div-contas">
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">Contas</label>
            </div>
          </div>
        </div>
        <div style="display: none;" class="funkyradio div-contas row"></div>
      </section>

      <section class="informacoes-do-pedido">
        <h5 class="hr-title text-dark border-bottom border-gray pb-2">
          <span>
            <i class="fas fa-clipboard-list"></i>
          </span>
          Informações do Pedido
        </h5>

        <div class="row">
          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.tipoDeSolicitacao}</label>
              {Campo.tipoDeSolicitacao}
            </div>
          </div>
        </div>

        <div class="row">
          <!-- input text -->
          <div class="col-xs-12 col-md-12">
            <div class="form-group">
              <label class="font-weight-bold">
                {Label.detalhesDaSolicitacao}
              </label>
              {Campo.detalhesDaSolicitacao}
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div style="display: none" class="informacoes-auxiliares">
  <div>
    {Label.cooperativaRequisitante} {Campo.cooperativaRequisitante}
  </div>
  <div>
    {Label.areaRequisitante} {Campo.areaRequisitante}
  </div>
  <div>
    {Label.postoRequisitante} {Campo.postoRequisitante}
  </div>
  <div>
    {Label.nomeRequisitante} {Campo.nomeRequisitante}
  </div>
  <div>
    {Label.associacao} {Campo.associacao}
  </div>
  <div>
    {Label.usuarioAssociado} {Campo.usuarioAssociado}
  </div>
  <div>
    {Label.dataAssociacao} {Campo.dataAssociacao}
  </div>
  <div>
    {Label.contasParaManipulacao} {Campo.contasParaManipulacao}
  </div>
</div>
