<!-- Início Formulário -->
<div class="form-integra">
  <div class="container-fluid">
    <!-- Cabeçalho Formulário -->
    <div class="card bg-primary text-white text-center mb-3">
      <div class="card-body p-2">
        <h4 class="mb-0">Informações da Solicitação</h4>
      </div>
    </div>
    <!-- Primeira Seção: Informações da Solicitação -->
    <section>
      <!-- First Row - Informações Solicitação -->
      <div class="row">
        <!-- Input Text - Mask Number -->
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
            <label class="font-weight-bold">{Label.conta}</label>
            <div class="input-group">
              {Campo.conta}
              <!-- Button Pesquisa -->
              <div class="input-group-append">
                <button
                  type="button"
                  class="btn btn-primary"
                  id="procurar-informacoes-conta"
                  style="display: none"
                >
                  Buscar
                  <span
                    class="spinner-border spinner-border-sm spinner-loader"
                    role="status"
                  ></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- File -->
        <div
          id="coluna-documento-credito-provisorio"
          class="col-xs-12 col-md-2"
        >
          <div class="form-group">
            <label class="font-weight-bold"
              >{Label.documentoCreditoProvisorio}</label
            >
            {Campo.documentoCreditoProvisorio}
          </div>
        </div>
        <!-- File -->
        <div id="coluna-documento-fo25" class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.documentoFo25}</label>
            {Campo.documentoFo25}
          </div>
        </div>
      </div>
    </section>
    <!-- Segunda Seção: Informações do Cooperado Pesquisado -->
    <section id="section-informacoes-cooperado">
      <h5 class="text-dark border-bottom border-gray pb-2">
        <span><i class="far fa-user"></i></span> Informações do Cooperado
      </h5>
      <!-- First Row - Informações do Cooperado -->
      <div class="row">
        <!-- Input Text -->
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
            <label class="font-weight-bold">{Label.nomeRazaoSocial}</label>
            {Campo.nomeRazaoSocial}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.cpfCnpj}</label>
            {Campo.cpfCnpj}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.profissaoRamo}</label>
            {Campo.profissaoRamo}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.telefone}</label>
            {Campo.telefone}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.email}</label>
            {Campo.email}
          </div>
        </div>
      </div>
      <!-- Second Row - Informações do Cooperado -->
      <div class="row">
        <!-- Input Text -->
        <div class="col-xs-12 col-md-12">
          <div class="form-group">
            <label class="font-weight-bold">{Label.endereco}</label>
            {Campo.endereco}
          </div>
        </div>
      </div>
      <!-- Third Row - Informações do Cooperado -->
      <div id="informacoes-cooperado-thirdRow" class="row">
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.dataNascimento}</label>
            {Campo.dataNascimento}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.estadoCivil}</label>
            {Campo.estadoCivil}
          </div>
        </div>
      </div>
    </section>
    <!-- Terceira Seção: Informações do Ocorrido -->
    <section id="section-informacoes-ocorrido">
      <h5 class="text-dark border-bottom border-gray pb-2">
        <span><i class="far fa-file-alt"></i></span> Informações do Ocorrido
      </h5>
      <!-- First Row: Informações do Ocorrido -->
      <div class="row">
        <!-- Input Text -->
        <div id="coluna-demanda" class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.demandaServicenow}</label>
            {Campo.demandaServicenow}
          </div>
        </div>
        <!-- Input Text - Mask Date -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.dataDaOcorrencia}</label>
            {Campo.dataDaOcorrencia}
          </div>
        </div>
        <!-- Select -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.canalDigital}</label>
            {Campo.canalDigital}
          </div>
        </div>
        <!-- Input CheckBox -->
        <div id="coluna-checkbox-usuario" class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.usuario}</label>
            {Campo.usuario}
          </div>
        </div>
      </div>
      <!-- Second Row: Informações do Ocorrido -->
      <!-- Table Responsive -->
      <div class="table-responsive-sm">
        <!-- Table Multivalorada -->
        <table class="table table-striped" mult="S">
          <thead>
            <!-- Títulos da Table -->
            <tr>
              <th>
                <span><i class="fas fa-calendar-alt"></i></span>
                {Label.dataDaTransacao}
              </th>
              <th>
                <span><i class="fas fa-filter"></i></span>
                {Label.tipoDaTransacao}
              </th>
              <th>
                <span><i class="fas fa-dollar-sign"></i></span>
                {Label.valorDaTransacao}
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- Linhas da Table -->
            <tr>
              <!-- Input Text -->
              <td>{Campo.dataDaTransacao}</td>
              <!-- Select -->
              <td>{Campo.tipoDaTransacao}</td>
              <!-- Input Text - Mask Number -->
              <td>{Campo.valorDaTransacao}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Third Row: Informações do Ocorrido -->
      <div class="row">
        <!-- Input Text Area -->
        <div class="col-xs-12 col-md-12">
          <div class="form-group">
            <label class="font-weight-bold">{Label.parecer}</label>
            {Campo.parecer}
          </div>
        </div>
      </div>
      <!-- Forth Row: Informações do Ocorrido -->
      <div id="informacoes-ocorrido-forthRow" class="row">
        <!-- Input Radio Button -->
        <div id="coluna-credito-provisorio" class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold"
              >{Label.necessitaCreditoProvisorio}</label
            >
            {Campo.necessitaCreditoProvisorio}
          </div>
        </div>
        <!-- Input Radio Button -->
        <div
          id="coluna-necessita-antecipar-credito-provisorio"
          class="col-xs-12 col-md-2"
        >
          <div class="form-group">
            <label class="font-weight-bold"
              >{Label.necessitaAnteciparCreditoProvisorio}</label
            >
            {Campo.necessitaAnteciparCreditoProvisorio}
          </div>
        </div>
      </div>
    </section>
    <!-- Quarta Seção: Informações da Análise -->
    <section id="section-informacoes-analise">
      <h5 class="text-dark border-bottom border-gray pb-2">
        <span><i class="far fa-check-square"></i></span> Informações da Análise
      </h5>
      <!-- First Row: Informações da Análise -->
      <div class="row">
        <!-- Select -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.tipoDeOcorrencia}</label>
            {Campo.tipoDeOcorrencia}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.produto}</label>
            {Campo.produto}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.classificacao}</label>
            {Campo.classificacao}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.area}</label>
            {Campo.area}
          </div>
        </div>
      </div>
      <!-- Second Row: Informações da Análise -->
      <div class="row">
        <!-- Input Text Area -->
        <div class="col-xs-12 col-md-12">
          <div class="form-group">
            <label class="font-weight-bold">{Label.resumoDoOcorrido}</label>
            {Campo.resumoDoOcorrido}
          </div>
        </div>
      </div>
      <!-- Third Row: Informações da Análise -->
      <div class="row">
        <!-- Select -->
        <div class="col-xs-12 col-md-6">
          <div class="form-group">
            <label class="font-weight-bold"
              >{Label.tipoDeOcorrenciaIdentificada}</label
            >
            {Campo.tipoDeOcorrenciaIdentificada}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.fundoCobre}</label>
            {Campo.fundoCobre}
          </div>
        </div>
      </div>
    </section>
    <!-- Quinta Seção: Informações do Deferimento da Reunião -->
    <section id="section-informacoes-deferimento-reuniao">
      <h5 class="text-dark border-bottom border-gray pb-2">
        <span><i class="fas fa-hand-holding-usd"></i></span> Informações do
        Deferimento da Reunião do Fundo de Contingência
      </h5>
      <!-- First Row: Informações do Deferimento da Reunião -->
      <div class="row">
        <!-- Select -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.deferimento}</label>
            {Campo.deferimento}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.dataDoDeferimento}</label>
            {Campo.dataDoDeferimento}
          </div>
        </div>
      </div>
      <!-- Second Row: Informações do Deferimento da Reunião -->
      <div class="row">
        <!-- Input Text Area -->
        <div class="col-xs-12 col-md-12">
          <div class="form-group">
            <label class="font-weight-bold">{Label.parecerDaComissao}</label>
            {Campo.parecerDaComissao}
          </div>
        </div>
      </div>
    </section>
    <!-- Sexta Seção: Informações Auxiliares ao Processo -->
    <section id="section-informacoes-auxiliares" style="display: none">
      <!-- First Row - Informações Auxiliares -->
      <div class="row">
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.nomeRequisitante}</label>
            {Campo.nomeRequisitante}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold"
              >{Label.cooperativaRequisitante}</label
            >
            {Campo.cooperativaRequisitante}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.areaRequisitante}</label>
            {Campo.areaRequisitante}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.tipoDePessoa}</label>
            {Campo.tipoDePessoa}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold"
              >{Label.boletimDeOcorrenciaAnexado}</label
            >
            {Campo.boletimDeOcorrenciaAnexado}
          </div>
        </div>
      </div>
      <!-- Second Row - Informações Auxiliares -->
      <div class="row">
        <!-- Input Text - Mask Money -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.valorTotalTransacao}</label>
            {Campo.valorTotalTransacao}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.dataAtual}</label>
            {Campo.dataAtual}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold"
              >{Label.controleCaminhoFluxograma}</label
            >
            {Campo.controleCaminhoFluxograma}
          </div>
        </div>
        <!-- Input Number -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold"
              >{Label.codigoUsuarioExecutor}</label
            >
            {Campo.codigoUsuarioExecutor}
          </div>
        </div>
        <!-- Input Text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.responsavelAnalise}</label>
            {Campo.responsavelAnalise}
          </div>
        </div>
      </div>
      <!-- Third Row - Informações Auxiliares -->
      <div class="row">
        <!-- Input Text -->
        <div class="col-xs-12 col-md-12">
          <div class="form-group">
            <label class="font-weight-bold"
              >{Label.participantesDoProcesso}</label
            >
            {Campo.participantesDoProcesso}
          </div>
        </div>
      </div>
      <!-- Forth Row - Informações Auxiliares -->
      <div class="row">
        <!-- Input Text -->
        <div class="col-xs-12 col-md-12">
          <div class="form-group">
            <label class="font-weight-bold">{Label.documentosImportados}</label>
            {Campo.documentosImportados}
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
