.form-integra select[readonly] {
  background: #eee;
  pointer-events: none;
  touch-action: none;
}

.form-integra label.is-invalid {
  color: #dc3545;
}

.form-integra label.is-valid {
  color: #28a745;
}
