<style>
  .was-validated .form-integra .form-control:valid,
  .form-integra .form-control.is-valid {
    background-position: right calc(0.375em + 0.58rem) center;
  }

  .was-validated .form-integra .form-control:invalid,
  .form-integra .form-control.is-invalid {
    background-position: right calc(0.375em + 0.58rem) center;
  }

  .form-integra select[readonly] {
    background: #eee;
    pointer-events: none;
    touch-action: none;
  }

  .required {
    color: #000 !important;
  }

  h5.hr-title {
    margin-top: 1.3rem;
  }

  h5.hr-title i {
    margin-right: 1rem;
  }
</style>

<div class="form-integra">
  <div class="container-fluid">
    <div class="card bg-primary text-white text-center mb-3">
      <div class="card-body p-2">
        <h4 class="mb-0">Informações da Solicitação</h4>
      </div>
    </div>

    <section class="informacoes-da-solicitacao">
      <div class="row">
        <!-- input text with search -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.cpf}</label>
            <div class="input-group">
              {Campo.cpf}
              <div style="display: none;" class="input-group-append">
                <button
                  type="button"
                  class="btn btn-primary buscar-informacoes-da-solicitacao"
                >
                  Buscar
                  <span
                    style="display: none;"
                    class="spinner-border spinner-border-sm spinner-loader"
                    role="status"
                  ></span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.template}</label>
            {Campo.template}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.valorAprovado}</label>
            {Campo.valorAprovado}
          </div>
        </div>
      </div>
    </section>

    <section class="informacoes-do-cooperado">
      <h5 class="hr-title text-dark border-bottom border-gray pb-2">
        <span><i class="fas fa-user-tie"></i></span>Informações do Cooperado
      </h5>
      <div class="row">
        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.nomeCooperado}</label>
            {Campo.nomeCooperado}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.matricula}</label>
            {Campo.matricula}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.posto}</label>
            {Campo.posto}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">
              {Label.dataAssociacaoCooperado}
            </label>
            {Campo.dataAssociacaoCooperado}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.dataFalecimento}</label>
            {Campo.dataFalecimento}
          </div>
        </div>
      </div>
    </section>

    <section class="informacoes-dos-dados-bancario">
      <h5 class="hr-title text-dark border-bottom border-gray pb-2">
        <span> <i class="fas fa-university"></i> </span>Informações dos Dados
        Bancário
      </h5>

      <div class="row">
        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.banco}</label>
            {Campo.banco}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.agencia}</label>
            {Campo.agencia}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.conta}</label>
            {Campo.conta}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.cpfcnpj}</label>
            {Campo.cpfcnpj}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.nomeBancario}</label>
            {Campo.nomeBancario}
          </div>
        </div>
      </div>
    </section>

    <section class="informacoes-do-associado">
      <h5 class="hr-title text-dark border-bottom border-gray pb-2">
        <span> <i class="fas fa-users"></i> </span>Informação(ões) do(s)
        Herdeiro / Meeiro(a)
      </h5>
      <div class="row pt-2">
        <!-- Table Multivalorada -->
        <div id="coluna-table-auxilio-funeral" class="col-xs-12 col-md-12">
          <div class="table-responsive-sm">
            <table class="table table-striped" mult="S">
              <thead>
                <tr>
                  <th>
                    <span><i class="fas fa-user"></i></span>
                    {Label.nomeHerdeiroMeeiro}
                  </th>
                  <th class="requisitante-herdeiro" style="display: none;">
                    <span><i class="fas fa-user"></i></span>
                    <span>Requisitante</span>
                  </th>
                  <th class="requerente">
                    <span><i class="fas fa-tasks"></i></span>
                    {Label.requisitante}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="linha-tabela-auxilio-funeral">
                  <td class="nome-herdeiro">{Campo.nomeHerdeiroMeeiro}</td>
                  <td class="requisitante-herdeiro" style="display: none;">
                    <div class="custom-control custom-switch">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        onchange="renderizarMudancaSwitch($(this))"
                        id="custom-switch-1"
                      />
                      <label
                        class="custom-control-label"
                        for="custom-switch-1"
                      ></label>
                    </div>
                  </td>
                  <td class="requerente">{Campo.requisitante}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section style="display: none;" class="informacoes-auxiliares">
      <h5 class="hr-title text-dark border-bottom border-gray pb-2">
        <span><i class="fas fa-book"></i></span>Informações Auxíliares
      </h5>
      <div class="row">
        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.nomeRequisitante}</label>
            {Campo.nomeRequisitante}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">
              {Label.cooperativaRequisitante}
            </label>
            {Campo.cooperativaRequisitante}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.areaRequisitante}</label>
            {Campo.areaRequisitante}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.postoRequisitante}</label>
            {Campo.postoRequisitante}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.listaDeHerdeiros}</label>
            {Campo.listaDeHerdeiros}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">
              {Label.herdeiroRequisitanteDoAuxilio}
            </label>
            {Campo.herdeiroRequisitanteDoAuxilio}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.dataSolicitacao}</label>
            {Campo.dataSolicitacao}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.passaPeloDiretor}</label>
            {Campo.passaPeloDiretor}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.associacao}</label>
            {Campo.associacao}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.usuarioAssociado}</label>
            {Campo.usuarioAssociado}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.dataAssociacao}</label>
            {Campo.dataAssociacao}
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
