<div class="box box-open-and-close box-close" id="informacoes-solicitacao">
  <div class="box-inner">
    <div
      class="box-header"
      style="background-color: rgb(0, 75, 53);text-align: center;"
    >
      <h2 style="color:#ffffff">
        <b>Informa&ccedil;&otilde;es da Solicita&ccedil;&atilde;o</b>
      </h2>
    </div>
    <div class="padded">
      <div class="box-container">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                id="tipo-solicitacao"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.tipoSolicitacao}</b>
                <font color="SteelBlue">{Campo.tipoSolicitacao}</font>
              </td>
              <td
                id="notificacao-gestor"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.notificarGestorParaConhecimentoDaSolicitacao}</b>
                <font color="SteelBlue">
                  {Campo.notificarGestorParaConhecimentoDaSolicitacao}
                </font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-container">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.nomeContratadoa}</b>
                <font color="SteelBlue">{Campo.nomeContratadoa}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.cpfContratadoa}</b>
                <font color="SteelBlue">{Campo.cpfContratadoa}</font>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.dataAdmissao}</b>
                <font color="SteelBlue">{Campo.dataAdmissao}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-container">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                id="nivel-selecionado"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.nivel}</b>
                <font color="SteelBlue">{Campo.nivel}</font>
              </td>
              <td
                id="cargo-selecionado"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.cargo}</b>
                <font color="SteelBlue">{Campo.cargo}</font>
              </td>
            </tr>
            <tr>
              <td
                id="faixa-salarial-selecionado"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.faixaSalarial}</b>
                <font color="SteelBlue">{Campo.faixaSalarial}</font>
              </td>
              <td
                id="centro-custo-selecionado"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.centroDeCusto}</b>
                <font color="SteelBlue">{Campo.centroDeCusto}</font>
              </td>
            </tr>
            <tr id="horario-portal">
              <td
                id="horarioTrabalho"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.horarioDeTrabalho}</b>
                <font color="SteelBlue">{Campo.horarioDeTrabalho}</font>
              </td>
              <td
                id="portalColaborador"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.portalDoColaborador}</b>
                <font color="SteelBlue">{Campo.portalDoColaborador}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-container" id="informacoes-aso">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.aso}</b> <font color="SteelBlue">{Campo.aso}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.validadeAso}</b>
                <font color="SteelBlue">{Campo.validadeAso}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-container" id="informacoes-rescisao">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="S"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                colspan="2"
                style="padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <div align="center">
                  <b>
                    Informa&ccedil;&otilde;es para Apoiar no C&aacute;lculo da
                    Rescis&atilde;o
                  </b>
                </div>
              </td>
            </tr>
            <tr id="tabela-informacoes-rescisao">
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.tipoInformacao}</b>
                <font color="SteelBlue">{Campo.tipoInformacao}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.valorDetalhamento}</b>
                <font color="SteelBlue">{Campo.valorDetalhamento}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-container" id="informacoes-cargo">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.cbo}</b> <font color="SteelBlue">{Campo.cbo}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.contratoDeExperiencia}</b>
                <font color="SteelBlue">{Campo.contratoDeExperiencia}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.quebraDeCaixa}</b>
                <font color="SteelBlue">{Campo.quebraDeCaixa}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.valorQuebraDeCaixa}</b>
                <font color="SteelBlue">{Campo.valorQuebraDeCaixa}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.gratificacaoDeFuncao}</b>
                <font color="SteelBlue">{Campo.gratificacaoDeFuncao}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.percentualGratificacaoDeFuncao}</b>
                <font color="SteelBlue">
                  {Campo.percentualGratificacaoDeFuncao}
                </font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.valorGratificacaoDeFuncao}</b>
                <font color="SteelBlue">{Campo.valorGratificacaoDeFuncao}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.recebeAdiantamentoSalarial}</b>
                <font color="SteelBlue">
                  {Campo.recebeAdiantamentoSalarial}
                </font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-container" id="checklist-beneficios">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                id="beneficios"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.beneficios}</b>
                <font color="SteelBlue">{Campo.beneficios}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="informacoes-auxiliares">
  <div>{Label.cooperativaRequisitante} {Campo.cooperativaRequisitante}</div>
  <div>{Label.areaRequisitante} {Campo.areaRequisitante}</div>
  <div>{Label.executorAtividade} {Campo.executorAtividade}</div>
  <div>{Label.codigoNivel} {Campo.codigoNivel}</div>
  <div>{Label.codigoCargo} {Campo.codigoCargo}</div>
  <div>{Label.lotacao} {Campo.lotacao}</div>
</div>
