<style>
  h5.hr-title {
    margin-top: 1.3rem;
  }

  h5.hr-title i {
    margin-right: 1rem;
  }

  .funkyradio-success input[type='radio']:checked ~ label:before,
  .funkyradio-success input[type='checkbox']:checked ~ label:before {
    background-color: #016649;
  }

  .funkyradio input[type='radio']:empty ~ label.is-invalid:before,
  .funkyradio input[type='checkbox']:empty ~ label.is-invalid:before {
    border: 1px solid #dc3545;
  }

  .funkyradio input[type='radio']:empty ~ label.is-valid:before,
  .funkyradio input[type='checkbox']:empty ~ label.is-valid:before {
    border: 1px solid #28a745;
  }

  .was-validated .form-integra .form-control:valid,
  .form-integra .form-control.is-valid {
    background-position: right calc(0.375em + 0.58rem) center;
  }

  .was-validated .form-integra .form-control:invalid,
  .form-integra .form-control.is-invalid {
    background-position: right calc(0.375em + 0.58rem) center;
  }

  .form-integra small.text-muted.mensagem-de-erro-checklist {
    color: #f89406 !important;
  }

  .form-integra .required {
    color: #495057 !important;
  }

  .form-integra .required.is-invalid {
    color: #dc3545 !important;
  }

  .required-radio.is-invalid label.radio {
    color: #dc3545 !important;
  }

  .tipo-contrato-div {
    padding-bottom: 10px;
  }

  section.checklist {
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 12px;
  }
</style>

<div class="form-integra">
  <div class="container-fluid">
    <div class="informacoes-do-coorperado">
      <div class="card bg-primary text-white text-center mb-3">
        <div class="card-body p-2">
          <h4 class="mb-0">Informações da Solicitação</h4>
        </div>
      </div>

      <section class="identificacao-do-cliente-cabecalho">
        <div class="row">
          <!-- input text with search -->
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="font-weight-bold">{Label.cnpj}</label>
              <div class="input-group">
                {Campo.cnpj}
                <div style="display: none;" class="input-group-append">
                  <button
                    type="button"
                    class="btn btn-primary procurar-informacoes-do-cooperado"
                  >
                    Buscar
                    <span
                      style="display: none;"
                      class="spinner-border spinner-border-sm spinner-loader"
                      role="status"
                    ></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="identificacao-do-cliente-conteudo">
        <h5 class="hr-title text-dark border-bottom border-gray pb-2">
          <span><i class="fas fa-user-tie"></i></span>Informações do Cooperado
        </h5>

        <div class="row">
          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.denominacaoSocial}</label>
              {Campo.denominacaoSocial}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.cnae}</label>
              {Campo.cnae}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.dataDeConstituicao}</label>
              {Campo.dataDeConstituicao}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">
                {Label.formaDeConstituicao}
              </label>
              {Campo.formaDeConstituicao}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.nire}</label>
              {Campo.nire}
            </div>
          </div>
        </div>
      </section>

      <section class="dados-bancarios">
        <h5 class="hr-title text-dark border-bottom border-gray pb-2">
          <span><i class="fas fa-university"></i></span>Dados Bancários
        </h5>

        <div class="row">
          <!-- select -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.contaCorrente}</label>
              {Campo.contaCorrente}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2 infos-relacionadas-a-conta-corrente">
            <div class="form-group">
              <label class="font-weight-bold">{Label.nomeDoBanco}</label>
              {Campo.nomeDoBanco}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2 infos-relacionadas-a-conta-corrente">
            <div class="form-group">
              <label class="font-weight-bold">{Label.numeroDoBanco}</label>
              {Campo.numeroDoBanco}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2 infos-relacionadas-a-conta-corrente">
            <div class="form-group">
              <label class="font-weight-bold">{Label.agencia}</label>
              {Campo.agencia}
            </div>
          </div>
        </div>
      </section>

      <section class="informacoes-de-endereco">
        <h5 class="hr-title text-dark border-bottom border-gray pb-2">
          <span><i class="fas fa-map-marked-alt"></i></span>Informações do
          Endereço
        </h5>

        <div class="funkyradio div-endereco-cep row"></div>

        <div class="row">
          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.endereco}</label>
              {Campo.endereco}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.numero}</label>
              {Campo.numero}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.complemento}</label>
              {Campo.complemento}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.cep}</label>
              {Campo.cep}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.bairro}</label>
              {Campo.bairro}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.cidade}</label>
              {Campo.cidade}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.uf}</label>
              {Campo.uf}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.paisDeConstituicao}</label>
              {Campo.paisDeConstituicao}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.paisDeDomicilio}</label>
              {Campo.paisDeDomicilio}
            </div>
          </div>
        </div>
      </section>

      <section class="informacoes-complementares">
        <h5 class="hr-title text-dark border-bottom border-gray pb-2">
          <span><i class="fas fa-file-invoice"></i></span>Informações
          Complementares
        </h5>

        <div class="funkyradio div-celular row"></div>

        <div class="row">
          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.telefone}</label>
              {Campo.telefone}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.email}</label>
              {Campo.email}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.site}</label>
              {Campo.site}
            </div>
          </div>
        </div>

        <div class="row">
          <!-- select -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">
                {Label.operaPorContaPropria}
              </label>
              {Campo.operaPorContaPropria}
            </div>
          </div>

          <!-- select -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">
                {Label.autorizaTransmissaoDeOrdens}
              </label>
              {Campo.autorizaTransmissaoDeOrdens}
            </div>
          </div>

          <div class="col-xs-12 col-md-2">
            <div class="row">
              <div class="col">
                <!-- select -->
                <div class="form-group">
                  <label class="font-weight-bold">
                    {Label.pessoaPoliticamenteExposta}
                  </label>
                  {Campo.pessoaPoliticamenteExposta}
                </div>
              </div>
            </div>
            <div class="row div-cargo">
              <div class="col">
                <!-- input text -->
                <div class="form-group">
                  <label class="font-weight-bold">{Label.cargo}</label>
                  {Campo.cargo}
                </div>
              </div>
            </div>
          </div>

          <!-- select -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">
                {Label.pessoaPoliticamenteExpostaRelacionado}
              </label>
              {Campo.pessoaPoliticamenteExpostaRelacionado}
            </div>
          </div>

          <!-- select -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">
                {Label.pessoaVinculadaAGenial}
              </label>
              {Campo.pessoaVinculadaAGenial}
            </div>
          </div>
        </div>
      </section>

      <section class="informacoes-formulario-kyc">
        <h5 class="hr-title text-dark border-bottom border-gray pb-2">
          <span> <i class="fas fa-clipboard-list"></i> </span>Conheça Seu
          Cliente - Formulário KYC
        </h5>

        <div class="row">
          <!-- input text -->
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold">
                {Label.historicoDasAtividades}
              </label>
              {Campo.historicoDasAtividades}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold"
                >{Label.expectativaDeInvestimentos}</label
              >
              {Campo.expectativaDeInvestimentos}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold">
                {Label.momentoDaProspeccao}
              </label>
              {Campo.momentoDaProspeccao}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold">
                {Label.descricaoDaProspeccao}
              </label>
              {Campo.descricaoDaProspeccao}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <div class="col">
                <!-- select -->
                <div class="form-group">
                  <label class="font-weight-bold">
                    {Label.noticiaDesabonadora}
                  </label>
                  {Campo.noticiaDesabonadora}
                </div>
              </div>
            </div>
            <div class="row div-descricao-noticia-desabonadora">
              <div class="col">
                <!-- input text -->
                <div class="form-group">
                  <label class="font-weight-bold">
                    {Label.descricaoNoticiaDesabonadora}
                  </label>
                  {Campo.descricaoNoticiaDesabonadora}
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="row">
              <div class="col">
                <!-- select -->
                <div class="form-group">
                  <label class="font-weight-bold">
                    {Label.informacaoAdicional}
                  </label>
                  {Campo.informacaoAdicional}
                </div>
              </div>
            </div>
            <div class="row div-descricao-informacao-adicional">
              <div class="col">
                <!-- input text -->
                <div class="form-group">
                  <label class="font-weight-bold">
                    {Label.descricaoInformacaoAdicional}
                  </label>
                  {Campo.descricaoInformacaoAdicional}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="checklist">
        <h5 class="hr-title text-dark border-bottom border-gray pb-2">
          <span><i class="fas fa-tasks"></i></span>Checklist
        </h5>

        <div class="row">
          <!-- select -->
          <div class="col-xs-12 col-md-6 tipo-contrato-div">
            <div class="form-group">
              <label class="font-weight-bold">{Label.tipoDeContrato}</label>
              {Campo.tipoDeContrato}
            </div>
          </div>

          <!-- select -->
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold">
                {Label.temPjComoSocio}
              </label>
              {Campo.temPjComoSocio}
            </div>
          </div>

          <!-- select -->
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold">
                {Label.possuiBalanco}
              </label>
              {Campo.possuiBalanco}
            </div>
          </div>

          <!-- select -->
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold">
                {Label.investimentosSuperior}
              </label>
              {Campo.investimentosSuperior}
            </div>
          </div>

          <!-- select -->
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold">
                {Label.cadastroRealizadoPorProcuracao}
              </label>
              {Campo.cadastroRealizadoPorProcuracao}
            </div>
          </div>

          <!-- select -->
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label class="font-weight-bold">
                {Label.possuiFaturamento}
              </label>
              {Campo.possuiFaturamento}
            </div>

            <div class="row div-descricao-faturamento">
              <div class="col">
                <!-- input text -->
                <div class="form-group">
                  <label class="font-weight-bold">
                    {Label.descricaoFaturamento}
                  </label>
                  {Campo.descricaoFaturamento}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <button type="button" class="btn btn-primary btn-anexar-arquivo">
                Anexar Arquivos
              </button>
            </div>
          </div>
        </div>
      </section>

      <section class="templates" style="display: none">
        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.templateFichaBasica}</label>
            {Campo.templateFichaBasica}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.templateKyc}</label>
            {Campo.templateKyc}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div style="display: none" class="informacoes-auxiliares">
  <div>
    {Label.cooperativaRequisitante} {Campo.cooperativaRequisitante}
  </div>
  <div>
    {Label.cooperativaRequisitante} {Campo.cooperativaRequisitante}
  </div>
  <div>
    {Label.areaRequisitante} {Campo.areaRequisitante}
  </div>
  <div>
    {Label.postoRequisitante} {Campo.postoRequisitante}
  </div>
  <div>
    {Label.nomeRequisitante} {Campo.nomeRequisitante}
  </div>
</div>
