<style>
  h5.hr-title {
    margin-top: 1.3rem;
  }

  h5.hr-title i {
    margin-right: 1rem;
  }

  .funkyradio-success input[type='radio']:checked ~ label:before,
  .funkyradio-success input[type='checkbox']:checked ~ label:before {
    background-color: #016649;
  }

  .funkyradio input[type='radio']:empty ~ label.is-invalid:before,
  .funkyradio input[type='checkbox']:empty ~ label.is-invalid:before {
    border: 1px solid #dc3545;
  }

  .funkyradio input[type='radio']:empty ~ label.is-valid:before,
  .funkyradio input[type='checkbox']:empty ~ label.is-valid:before {
    border: 1px solid #28a745;
  }

  .funkyradio {
    margin-top: -25px !important;
    margin-bottom: -5px;
  }

  .adicionar-contato-numero {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .was-validated .form-integra .form-control:valid,
  .form-integra .form-control.is-valid {
    background-position: right calc(0.375em + 0.58rem) center;
  }

  .was-validated .form-integra .form-control:invalid,
  .form-integra .form-control.is-invalid {
    background-position: right calc(0.375em + 0.58rem) center;
  }

  .label-prestamista label.is-valid {
    color: #28a745;
  }

  .label-prestamista label.is-invalid {
    color: #dc3545;
  }

  .form-select {
    margin-top: -15px;
    padding-left: 0 !important;
  }

  .form-select label {
    width: 100%;
  }
</style>

<div class="form-integra">
  <div class="container-fluid">
    <div class="informacoes-do-coorperado">
      <div class="card bg-primary text-white text-center mb-3">
        <div class="card-body p-2">
          <h4 class="mb-0">Informações da Solicitação</h4>
        </div>
      </div>
      <div class="row">
        <!-- input text with search -->
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
            <label class="font-weight-bold">{Label.conta}</label>
            <div class="input-group">
              {Campo.conta}
              <div style="display: none;" class="input-group-append">
                <button type="button" class="btn btn-primary search-proposta">
                  Buscar
                  <span
                    class="spinner-border spinner-border-sm spinner-loader"
                    role="status"
                  ></span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- radio group -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.portabilidade}</label>
          </div>
          <div class="form-check form-select">
            <label class="form-check-label">
              {Campo.portabilidade}
            </label>
          </div>
        </div>

        <!-- input text -->
        <div class="numero-proposta col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.numeroProposta}</label>
            {Campo.numeroProposta}
          </div>
        </div>
      </div>
    </div>

    <div class="informacoes-do-cooperado">
      <h5 class="hr-title text-dark border-bottom border-gray pb-2">
        <span><i class="far fa-file-alt"></i></span>Informações do Cooperado
      </h5>
      <div class="row">
        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.cooperado}</label>
            {Campo.cooperado}
          </div>
        </div>

        <!-- date dd/mm/yyyy -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.dataAnaliseCadastral}</label>
            {Campo.dataAnaliseCadastral}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.gerenteConta}</label>
            {Campo.gerenteConta}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.mesAnoRefRenda}</label>
            {Campo.mesAnoRefRenda}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.agencia}</label>
            {Campo.agencia}
          </div>
        </div>
      </div>

      <div class="contato-numero">
        <div class="funkyradio row"></div>
        <div class="row adicionar-contato-numero">
          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">Número:</label>
              {Campo.telefone}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="informacoes-do-2-titular">
      <h5 class="hr-title text-dark border-bottom border-gray pb-2">
        <span><i class="far fa-file-alt"></i></span>Informações do 2º Titular
      </h5>

      <div class="row">
        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.segundoTitular}</label>
            {Campo.segundoTitular}
          </div>
        </div>

        <!-- date dd/mm/yyyy -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold"
              >{Label.segundoTitularAnaliseCadastral}</label
            >
            {Campo.segundoTitularAnaliseCadastral}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold"
              >{Label.segundoTitularMesAnoRefDaRenda}</label
            >
            {Campo.segundoTitularMesAnoRefDaRenda}
          </div>
        </div>
      </div>
    </div>

    <div class="informacoes-linha-de-credito">
      <h5 class="hr-title text-dark border-bottom border-gray pb-2">
        <span><i class="far fa-file-alt"></i></span>Informações da Linha de
        Crédito
      </h5>

      <div class="row">
        <!-- select -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.linhaCredito}</label>
            {Campo.linhaCredito}
          </div>
        </div>
      </div>

      <div class="section-relacionada-linha-de-credito">
        <div class="row">
          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.sigla}</label>
              {Campo.sigla}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.descricao}</label>
              {Campo.descricao}
            </div>
          </div>

          <!-- input text -->
          <label class="col-xs-12 col-md-2">
            <label class="form-group">
              <label class="font-weight-bold">{Label.tipoCredito}</label>
              {Campo.tipoCredito}
            </label>
          </label>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold"
                >{Label.quantidadeMinimaParcela}</label
              >
              {Campo.quantidadeMinimaParcela}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold"
                >{Label.quantidadeMaximaParcela}</label
              >
              {Campo.quantidadeMaximaParcela}
            </div>
          </div>
        </div>

        <div class="informacoes-emprestimo-financiamento">
          <div class="row">
            <!-- input text -->
            <div class="col-xs-12 col-md-2">
              <div class="form-group">
                <label class="font-weight-bold">{Label.valorSolicitado}</label>
                {Campo.valorSolicitado}
              </div>
            </div>

            <!-- input text -->
            <div class="col-xs-12 col-md-2">
              <div class="form-group">
                <label class="font-weight-bold"
                  >{Label.quantidadeParcelas}</label
                >
                {Campo.quantidadeParcelas}
              </div>
            </div>

            <!-- radio group -->
            <div class="col-xs-12 col-md-2">
              <div class="form-group">
                <label class="font-weight-bold"
                  >{Label.seguroPrestamista}</label
                >
              </div>
              <div class="form-check form-select">
                <label class="label-prestamista form-check-label">
                  {Campo.seguroPrestamista}
                </label>
              </div>
            </div>

            <!-- radio group -->
            <div class="col-xs-12 col-md-2">
              <div class="form-group">
                <label class="font-weight-bold">{Label.vencimento}</label>
              </div>
              <div class="form-check form-select">
                <label class="form-check-label">
                  {Campo.vencimento}
                </label>
              </div>
            </div>

            <!-- input text -->
            <div class="col-xs-12 col-md-2">
              <div class="form-group">
                <label class="font-weight-bold">{Label.quitarTitulo}</label>
                {Campo.quitarTitulo}
              </div>
            </div>
          </div>

          <div class="div-motivo row">
            <!-- input text -->
            <div class="col-xs-12 col-md-10">
              <div class="form-group">
                <label class="font-weight-bold">{Label.motivo}</label>
                {Campo.motivo}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="display: none" class="informacoes-auxiliares">
  {Label.cooperativaRequisitante} {Campo.cooperativaRequisitante}
  {Label.areaRequisitante} {Campo.areaRequisitante} {Label.postoRequisitante}
  {Campo.postoRequisitante} {Label.nomeRequisitante} {Campo.nomeRequisitante}
</div>
