<style>
  .was-validated .form-integra .form-control:valid,
  .form-integra .form-control.is-valid {
    background-position: right calc(0.375em + 0.58rem) center;
  }

  .was-validated .form-integra .form-control:invalid,
  .form-integra .form-control.is-invalid {
    background-position: right calc(0.375em + 0.58rem) center;
  }

  .required {
    color: #000 !important;
  }

  h5.hr-title {
    margin-top: 1.3rem;
  }

  h5.hr-title i {
    margin-right: 1rem;
  }
</style>
<div class="form-integra">
  <div class="container-fluid">
    <div class="card bg-primary text-white text-center mb-3">
      <div class="card-body p-2">
        <h4 class="mb-0">Informações da Solicitação</h4>
      </div>
    </div>

    <section class="informacoes-da-solicitacao">
      <div class="row">
        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.tipoDaSolicitacao}</label>
            {Campo.tipoDaSolicitacao}
          </div>
        </div>

        <!-- input text with search -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.cpfCnpj}</label>
            <div class="input-group">
              {Campo.cpfCnpj}
              <div style="display: none;" class="input-group-append">
                <button
                  type="button"
                  class="btn btn-primary buscar-informacoes-da-solicitacao"
                >
                  Buscar
                  <span
                    style="display: none;"
                    class="spinner-border spinner-border-sm spinner-loader"
                    role="status"
                  ></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="informacoes-do-cooperado">
      <h5 class="hr-title text-dark border-bottom border-gray pb-2">
        <span><i class="fas fa-user-tie"></i></span>Informações do Contrato
      </h5>
      <div class="row">
        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.matricula}</label>
            {Campo.matricula}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.conta}</label>
            {Campo.conta}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.associado}</label>
            {Campo.associado}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.cpfCnpj}</label>
            {Campo.cpfCnpj}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.profissaoRamo}</label>
            {Campo.profissaoRamo}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.rendaFaturamento}</label>
            {Campo.rendaFaturamento}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.scoreSerasa}</label>
            {Campo.scoreSerasa}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.riscoSerasa}</label>
            {Campo.riscoSerasa}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.raiting}</label>
            {Campo.raiting}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.valorLiberado}</label>
            {Campo.valorLiberado}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.saldoDevedorAtual}</label>
            {Campo.saldoDevedorAtual}
          </div>
        </div>
      </div>
    </section>

    <section class="informacoes-do-cooperado">
      <h5 class="hr-title text-dark border-bottom border-gray pb-2">
        <span><i class="fas fa-user-tie"></i></span>Informações Complementares
      </h5>
      <div class="row">
        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold"
              >{Label.descricaoDaGarantiaAtual}</label
            >
            {Campo.descricaoDaGarantiaAtual}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold"
              >{Label.descricaoDaNovaGarantia}</label
            >
            {Campo.descricaoDaNovaGarantia}
          </div>
        </div>

        <!-- input text -->
        <div class="col-xs-12 col-md-2">
          <div class="form-group">
            <label class="font-weight-bold">{Label.justificativa}</label>
            {Campo.justificativa}
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
