<div class="box box-open-and-close box-close" id="inf-cooperado">
  <div class="box-inner">
    <div
      class="box-header"
      style="background-color: rgb(0, 75, 53);text-align: center;"
    >
      <h2 style="color:#ffffff">
        <b>Informa&ccedil;&otilde;es do Cooperado</b>
      </h2>
    </div>
    <div class="padded">
      <div class="box-container">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                colspan="2"
                class="template"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.templateLimites}</b>
                <font color="SteelBlue">{Campo.templateLimites}</font>
              </td>
            </tr>
            <tr>
              <td
                colspan="2"
                class="template"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.templateExclusao}</b>
                <font color="SteelBlue">{Campo.templateExclusao}</font>
              </td>
            </tr>
            <tr>
              <td
                id="conta"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.conta}</b>
                <font color="SteelBlue">{Campo.conta}</font>
              </td>
              <td
                id="usuarios-gerados"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.usuarioGerados}</b>
                <font color="SteelBlue">{Campo.usuarioGerados}</font>
              </td>
              <td
                id="usuarioSelecionado"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.usuarioSelecionado}</b>
                <font color="SteelBlue">{Campo.usuarioSelecionado}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.nomeDoCooperado}</b>
                <font color="SteelBlue">{Campo.nomeDoCooperado}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.tipoDePessoa}</b>
                <font color="SteelBlue">{Campo.tipoDePessoa}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="box box-open-and-close box-close" id="inf-solicitacao">
  <div class="box-inner">
    <div
      class="box-header"
      style="background-color: rgb(0, 75, 53);text-align: center;"
    >
      <h2 style="color:#ffffff">
        <b>Informa&ccedil;&otilde;es da Solicita&ccedil;&atilde;o</b>
      </h2>
    </div>
    <div class="padded">
      <div class="box-container">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.possuiProtocoloDaSolicitacao}</b>
                <font color="SteelBlue">
                  {Campo.possuiProtocoloDaSolicitacao}
                </font>
              </td>
            </tr>
            <tr class="numero-protocolo">
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.numeroProtocolo}</b>
                <font color="SteelBlue">
                  {Campo.numeroProtocolo}
                </font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="padded">
      <div class="box-container tipo-de-solicitacao">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.tipoDeSolicitacao}</b>
                <font color="SteelBlue">{Campo.tipoDeSolicitacao}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="box box-open-and-close box-close" id="inf-token">
  <div class="box-inner">
    <div
      class="box-header"
      style="background-color: rgb(0, 75, 53);text-align: center;"
    >
      <h2 style="color:#ffffff">
        <b>Informa&ccedil;&otilde;es da Exclus&atilde;o do Token</b>
      </h2>
    </div>
    <div class="padded">
      <div class="box-container">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.justificativaDaExclusaoDoToken}</b>
                <font color="SteelBlue"
                  >{Campo.justificativaDaExclusaoDoToken}</font
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="inf-alteracao-limite">
  <div class="box box-open-and-close box-close" id="inf-dispositivos">
    <div class="box-inner">
      <div
        class="box-header"
        style="background-color: rgb(0, 75, 53);text-align: center;"
      >
        <h2 style="color:#ffffff">
          <b>Informa&ccedil;&otilde;es Financeiras</b>
        </h2>
      </div>
      <div class="padded">
        <div class="box-container">
          <table
            border="0"
            cellpadding="1"
            cellspacing="1"
            class="table table-striped table-bordered table-hover"
            mult="N"
            style="width: 100%;"
          >
            <tbody>
              <tr>
                <td
                  style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
                >
                  <b>Internet Banking:</b>
                  <font color="SteelBlue">{Campo.dispositivoDeSeguranca}</font>
                </td>
                <td
                  style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
                >
                  <b>Unicred Mobile Banking:</b>
                  <font color="SteelBlue">{Campo.dispositivoDeSeguranca2}</font>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="box box-open-and-close box-close" id="inf-altera">
    <div class="box-inner">
      <div
        class="box-header"
        style="background-color: rgb(0, 75, 53);text-align: center;"
      >
        <h2 style="color:#ffffff">
          <b>Informa&ccedil;&otilde;es da Altera&ccedil;&atilde;o</b>
        </h2>
      </div>
      <div class="padded">
        <div class="box-container">
          <table
            border="0"
            cellpadding="1"
            cellspacing="1"
            class="table table-striped table-bordered table-hover"
            mult="S"
            style="width: 100%;"
          >
            <tbody>
              <tr>
                <td
                  colspan="2"
                  style="padding: 0px;vertical-align: middle;text-align: center;padding-top: 4px;padding-left: 5px;"
                >
                  <b>Informa&ccedil;&otilde;es da Transa&ccedil;&atilde;o:</b>
                </td>
              </tr>
              <tr id="tabela-principal-transacoes">
                <td>
                  <table
                    border="0"
                    cellpadding="1"
                    cellspacing="1"
                    class="table table-striped table-bordered table-hover"
                    id="tabela-valor-diario"
                    mult="N"
                    style="width: 100%;"
                  >
                    <tbody>
                      <tr>
                        <td
                          style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
                        >
                          <b>{Label.tipoDeTransacao}</b>
                          <font color="SteelBlue">{Campo.tipoDeTransacao}</font>
                        </td>
                      </tr>
                      <tr id="tr-limite-diario">
                        <td
                          style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
                        >
                          <b>{Label.limiteDiario}</b>
                          <font color="SteelBlue">{Campo.limiteDiario}</font>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <table
                    border="0"
                    cellpadding="1"
                    cellspacing="1"
                    class="table table-striped table-bordered table-hover"
                    id="tabela-valor-maximo"
                    mult="N"
                    style="width: 100%;"
                  >
                    <tbody>
                      <tr id="tr-valor-maximo">
                        <td
                          style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
                        >
                          <b>{Label.valorMaximoPorTransacao}</b>
                          <font color="SteelBlue"
                            >{Campo.valorMaximoPorTransacao}</font
                          >
                        </td>
                      </tr>
                      <tr id="tr-valor-minimo">
                        <td
                          style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
                        >
                          <b>{Label.valorMinimoPorTransacao}</b>
                          <font color="SteelBlue"
                            >{Campo.valorMinimoPorTransacao}</font
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box box-open-and-close box-close" id="informacoes-auxiliares">
  <div class="box-inner">
    <div
      class="box-header"
      style="background-color: rgb(0, 75, 53);text-align: center;"
    >
      <h2 style="color:#ffffff">
        <b>Informa&ccedil;&otilde;es Auxiliares</b>
      </h2>
    </div>
    <div class="padded">
      <div class="box-container" id="tblorigem">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.cooperativaRequisitante}</b>
                <font color="SteelBlue">{Campo.cooperativaRequisitante}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.areaRequisitante}</b>
                <font color="SteelBlue">{Campo.areaRequisitante}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.postoRequisitante}</b>
                <font color="SteelBlue">{Campo.postoRequisitante}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.tipoCadastrado}</b>
                <font color="SteelBlue">{Campo.tipoCadastrado}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.areaResponsavel}</b>
                <font color="SteelBlue">{Campo.areaResponsavel}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.posicaoResponsavel}</b>
                <font color="SteelBlue">{Campo.posicaoResponsavel}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.campoComparado}</b>
                <font color="SteelBlue">{Campo.campoComparado}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.exclusaoDeToken}</b>
                <font color="SteelBlue">{Campo.exclusaoDeToken}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.renda}</b>
                <font color="SteelBlue">{Campo.renda}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.agencia}</b>
                <font color="SteelBlue">{Campo.agencia}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.cidade}</b>
                <font color="SteelBlue">{Campo.cidade}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.dia}</b> <font color="SteelBlue">{Campo.dia}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.mes}</b> <font color="SteelBlue">{Campo.mes}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.ano}</b> <font color="SteelBlue">{Campo.ano}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
