<div class="box box-open-and-close box-close" id="informacoes-despesas">
  <div class="box-inner">
    <div
      class="box-header"
      style="background-color: rgb(0, 75, 53);text-align: center;"
    >
      <h2 style="color:#ffffff">
        <b>Informa&ccedil;&otilde;es da(s) Despesa(s)</b>
      </h2>
    </div>
    <div class="padded">
      <div class="box-container" id="tbltipo-solicitacao">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.tipoSolicitacao}</b>
                <font color="SteelBlue">{Campo.tipoSolicitacao}</font>
              </td>
              <td
                id="especificar-consolheiropresidente"
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.conselheiropresidente}</b>
                <font color="SteelBlue">{Campo.conselheiropresidente}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-container" id="tblorigem">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="S"
          style="width: 100%;"
        >
          <tbody id="multivalorada">
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.motivo}</b>
                <font color="SteelBlue">{Campo.motivo}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.dataDespesa}</b>
                <font color="SteelBlue">{Campo.dataDespesa}</font>
              </td>
            </tr>
            <tr id="tabela-principal-despesas">
              <td
                id="tipo-despesa"
                style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.tipoDespesa}</b>
                <font color="SteelBlue">{Campo.tipoDespesa}</font>
              </td>
              <td
                id="valor-despesa"
                style="padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.valorDespesa}</b>
                <font color="SteelBlue">{Campo.valorDespesa}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="box box-open-and-close box-close" id="informacoes-financeiras">
  <div class="box-inner">
    <div
      class="box-header"
      style="background-color: rgb(0, 75, 53);text-align: center;"
    >
      <h2 style="color:#ffffff">
        <b>Informa&ccedil;&otilde;es Financeiras</b>
      </h2>
    </div>
    <div class="padded">
      <div class="box-container" id="tblorigem">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.totalDaDespesa}</b>
                <font color="SteelBlue">{Campo.totalDaDespesa}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.dataDePagamento}</b>
                <font color="SteelBlue">{Campo.dataDePagamento}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="box box-open-and-close box-close" id="informacoes-auxiliares">
  <div class="box-inner">
    <div
      class="box-header"
      style="background-color: rgb(0, 75, 53);text-align: center;"
    >
      <h2 style="color:#ffffff">
        <b>Informa&ccedil;&otilde;es Auxiliares</b>
      </h2>
    </div>
    <div class="padded">
      <div class="box-container" id="tblorigem">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.cooperativaRequisitante}</b>
                <font color="SteelBlue">{Campo.cooperativaRequisitante}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.areaRequisitante}</b>
                <font color="SteelBlue">{Campo.areaRequisitante}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.tipoCadastrado}</b>
                <font color="SteelBlue">{Campo.tipoCadastrado}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.postoRequisitante}</b>
                <font color="SteelBlue">{Campo.postoRequisitante}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.possuiSomenteUniformeMasculino}</b>
                <font color="SteelBlue">
                  {Campo.possuiSomenteUniformeMasculino}
                </font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.possuiCertificacao}</b>
                <font color="SteelBlue">{Campo.possuiCertificacao}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.codigoUsuario}</b>
                <font color="SteelBlue">{Campo.codigoUsuario}</font>
              </td>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.nomeRequisitante}</b>
                <font color="SteelBlue">{Campo.nomeRequisitante}</font>
              </td>
            </tr>
            <tr>
              <td
                style="width:50%;padding: 0px;vertical-align: middle;text-align: left;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.processo}</b>
                <font color="SteelBlue">{Campo.processo}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
      <div class="box-container" id="informacoes-km-rodado">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                colspan="1"
                rowspan="1"
                style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.valorCalculoKmrodadoDiretoria}</b>
                <font color="SteelBlue"
                  >{Campo.valorCalculoKmrodadoDiretoria}</font
                >
              </td>
              <td
                colspan="1"
                rowspan="1"
                style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.valorCalculoKmrodadoColaborador}</b>
                <font color="SteelBlue"
                  >{Campo.valorCalculoKmrodadoColaborador}</font
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br />
      <div class="box-container" id="informacoes-responsavel-analise">
        <table
          border="0"
          cellpadding="1"
          cellspacing="1"
          class="table table-striped table-bordered table-hover"
          mult="N"
          style="width: 100%;"
        >
          <tbody>
            <tr>
              <td
                colspan="1"
                rowspan="1"
                style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.areaResponsavel}</b>
                <font color="SteelBlue">{Campo.areaResponsavel}</font>
              </td>
              <td
                colspan="1"
                rowspan="1"
                style="width:50%; padding: 0px;vertical-align: middle;padding-top: 4px;padding-left: 5px;"
              >
                <b>{Label.posicaoResponsavel}</b>
                <font color="SteelBlue">{Campo.posicaoResponsavel}</font>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<p>
  &nbsp;
</p>
