<!-- DIV para controle da aba de formalização -->
<div id="FrmExecute">
  <!-- Início Formulário -->
  <div class="form-integra">
    <div class="container-fluid">
      <!-- Cabeçalho Formulário -->
      <div class="card bg-primary text-white text-center mb-3">
        <div class="card-body p-2">
          <h4 class="mb-0">Informações da Solicitação</h4>
        </div>
      </div>
      <!-- Primeira Seção: Informações da Solicitação -->
      <section>
        <!-- First Row - Informações Solicitação -->
        <div class="row">
          <!-- Select -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.tipo}</label>
              {Campo.tipo}
            </div>
          </div>
          <!-- Select -->
          <div id="coluna-input-acervo" class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.acervo}</label>
              {Campo.acervo}
            </div>
          </div>
          <!-- Select -->
          <div id="coluna-input-arquivamento" class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold"
                >{Label.necessitaDeArquivamento}</label
              >
              {Campo.necessitaDeArquivamento}
            </div>
          </div>
          <!-- Input Text - Mask Number -->
          <div id="coluna-numero-emprestimo" class="col-xs-12 col-md-4">
            <div class="form-group">
              <label class="font-weight-bold">{Label.numero}</label>
              <div class="input-group">
                {Campo.numero}
                <!-- Button Pesquisa -->
                <div class="input-group-append">
                  <button
                    type="button"
                    class="btn btn-primary"
                    id="procurar-informacoes-emprestimo"
                    style="display: none"
                  >
                    Buscar
                    <span
                      class="spinner-border spinner-border-sm spinner-loader"
                      role="status"
                    ></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Segunda Seção: Informações do Empréstimo Pesquisado -->
      <section id="section-informacoes-emprestimo">
        <h5 class="text-dark border-bottom border-gray pb-2">
          <span><i class="far fa-file-alt"></i></span> Informações do Empréstimo
        </h5>
        <!-- First Row - Informações do Empréstimo -->
        <div class="row">
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.conta}</label>
              {Campo.conta}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.associado}</label>
              {Campo.associado}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.cpfCnpj}</label>
              {Campo.cpfCnpj}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <label class="font-weight-bold">{Label.linhaDeCredito}</label>
              {Campo.linhaDeCredito}
            </div>
          </div>
          <!-- Input Text - Mask Money -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.valor}</label>
              {Campo.valor}
            </div>
          </div>
        </div>
        <!-- Second Row - Informações do Empréstimo -->
        <div class="row">
          <!-- Input Text -->
          <div class="col-xs-12 col-md-12">
            <div class="form-group">
              <label class="font-weight-bold">{Label.finalidade}</label>
              {Campo.finalidade}
            </div>
          </div>
        </div>
        <!-- Third Row - Informações do Empréstimo -->
        <div class="row">
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.dataSolicitacao}</label>
              {Campo.dataSolicitacao}
            </div>
          </div>
          <!-- Input Text - Mask Number -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.parcelas}</label>
              {Campo.parcelas}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.seguroPrestamista}</label>
              {Campo.seguroPrestamista}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.tipoVencimento}</label>
              {Campo.tipoVencimento}
            </div>
          </div>
          <!-- Input Text - Mask Number -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.diaVencimento}</label>
              {Campo.diaVencimento}
            </div>
          </div>
        </div>
        <!-- Forth Row - Informações do Empréstimo -->
        <div class="row">
          <!-- Input Text - Mask Number -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.carenciaPrimParc}</label>
              {Campo.carenciaPrimParc}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.jurosNaCarencia}</label>
              {Campo.jurosNaCarencia}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.financiarIof}</label>
              {Campo.financiarIof}
            </div>
          </div>
          <!-- Input Text - Mask Number -->
          <div id="coluna-contrato-anterior-mae" class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold"
                >{Label.numeroContratoAnteriorMae}</label
              >
              {Campo.numeroContratoAnteriorMae}
            </div>
          </div>
        </div>
        <!-- Fifth Row - Informações do Empréstimo -->
        <div id="div-informacoes-emprestimo-fifthRow" class="row">
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold"
                >{Label.dataVencimentoTitulo}</label
              >
              {Campo.dataVencimentoTitulo}
            </div>
          </div>
          <!-- Input Text - Mask NUmber -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold"
                >{Label.totalParcelasTitulo}</label
              >
              {Campo.totalParcelasTitulo}
            </div>
          </div>
          <!-- Input Text - Mask Money -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.valorTitulo}</label>
              {Campo.valorTitulo}
            </div>
          </div>
        </div>
        <!-- Sixth Row - Informações do Empréstimo -->
        <div id="div-informacoes-emprestimo-sixthRow" class="row">
          <!-- Input Text -->
          <div
            id="coluna-input-assinado-digitalmente"
            class="col-xs-12 col-md-2"
          >
            <div class="form-group">
              <label class="font-weight-bold"
                >{Label.contratoSeraAssinadoDigitalmente}</label
              >
              {Campo.contratoSeraAssinadoDigitalmente}
            </div>
          </div>
          <!-- Input Text -->
          <div id="coluna-input-excecao" class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.possuiExcecao}</label>
              {Campo.possuiExcecao}
            </div>
          </div>
        </div>
        <!-- Seventh Row - Informações do Empréstimo -->
        <div id="div-informacoes-emprestimo-seventhRow" class="row pt-2">
          <!-- Table Multivalorada -->
          <div id="coluna-table-assinaturaDigital" class="col-xs-12 col-md-12">
            <div class="table-responsive-sm">
              <table class="table table-striped" mult="S">
                <thead>
                  <tr>
                    <th>
                      <span><i class="fas fa-user"></i></span>
                      {Label.nomeDeQuemReceberaOArquivo}
                    </th>
                    <th>
                      <span><i class="fas fa-envelope"></i></span>
                      {Label.emailDeQuemReceberaOArquivo}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{Campo.nomeDeQuemReceberaOArquivo}</td>
                    <td>{Campo.emailDeQuemReceberaOArquivo}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Eighth Row - Informações do Empréstimo -->
        <div id="div-informacoes-emprestimo-eighthRow" class="row pt-2">
          <!-- Textarea -->
          <div id="coluna-textarea-excecao" class="col-xs-12 col-md-12">
            <div class="form-group">
              <label class="font-weight-bold">{Label.dadosDaExcecao}</label>
              {Campo.dadosDaExcecao}
            </div>
          </div>
        </div>
      </section>
      <!-- Terceira Seção: Informações da Caixa de Arquivamento dos Documentos -->
      <section id="section-informacoes-arquivamento">
        <h5 class="text-dark border-bottom border-gray pb-2">
          <span><i class="fas fa-archive"></i></span> Informações para
          Arquivamento
        </h5>
        <!-- First Row: Informações Arquivamento -->
        <div class="row">
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.numeroDaCaixa}</label>
              {Campo.numeroDaCaixa}
            </div>
          </div>
        </div>
      </section>
      <!-- Quarta Seção: Informações das Garantias Vinculadas ao Empréstimo | Gerados pelo JS  -->
      <section
        id="section-informacoes-garantias"
        class="pt-2"
        style="display: none"
      >
        <h5 class="text-dark border-bottom border-gray pb-2">
          <span><i class="fas fa-university"></i></span> Informações das
          Garantias
        </h5>
        <div id="div-informacoes-garantias">
          <!-- Avalistas -->
          <div id="div-informacoes-garantias-avalistas">
            <div
              id="div-informacoes-garantias-resumo-avalistas"
              class="row"
              style="display: none"
            ></div>
            <div
              id="div-informacoes-garantias-cards-avalistas"
              class="row"
              style="display: none"
            ></div>
          </div>
          <!-- Cheques -->
          <div id="div-informacoes-garantias-cheques">
            <div
              id="div-informacoes-garantias-resumo-cheques"
              class="row"
              style="display: none"
            ></div>
            <div
              id="div-informacoes-garantias-cards-cheques"
              class="row"
              style="display: none"
            ></div>
          </div>
          <!-- Cartões -->
          <div id="div-informacoes-garantias-cartoes">
            <div
              id="div-informacoes-garantias-resumo-cartoes"
              class="row"
              style="display: none"
            ></div>
            <div
              id="div-informacoes-garantias-cards-cartoes"
              class="row"
              style="display: none"
            ></div>
          </div>
          <!-- Cota Capital -->
          <div id="div-informacoes-garantias-cotas">
            <div
              id="div-informacoes-garantias-resumo-cotas"
              class="row"
              style="display: none"
            ></div>
            <div
              id="div-informacoes-garantias-cards-cotas"
              class="row"
              style="display: none"
            ></div>
          </div>
          <!-- Veículos -->
          <div id="div-informacoes-garantias-veiculos">
            <div
              id="div-informacoes-garantias-resumo-veiculos"
              class="row"
              style="display: none"
            ></div>
            <div
              id="div-informacoes-garantias-cards-veiculos"
              class="row"
              style="display: none"
            ></div>
          </div>
          <!-- Imóveis -->
          <div id="div-informacoes-garantias-imoveis">
            <div
              id="div-informacoes-garantias-resumo-imoveis"
              class="row"
              style="display: none"
            ></div>
            <div
              id="div-informacoes-garantias-cards-imoveis"
              class="row"
              style="display: none"
            ></div>
          </div>
          <!-- Aplicações Financeiras -->
          <div id="div-informacoes-garantias-aplicacoes">
            <div
              id="div-informacoes-garantias-resumo-aplicacoes"
              class="row"
              style="display: none"
            ></div>
            <div
              id="div-informacoes-garantias-cards-aplicacoes"
              class="row"
              style="display: none"
            ></div>
          </div>
          <!-- Demais Aplicações não Categorizadas -->
          <div id="div-informacoes-garantias-outras">
            <div
              id="div-informacoes-garantias-resumo-outras"
              class="row"
              style="display: none"
            ></div>
            <div
              id="div-informacoes-garantias-cards-outras"
              class="row"
              style="display: none"
            ></div>
          </div>
        </div>
      </section>
      <!-- Quinta Seção: Informações de Verificação para Solicitar Liberação de Crédito -->
      <section id="section-informacoes-verificacao" class="pt-2">
        <h5 class="text-dark border-bottom border-gray pb-2">
          <span><i class="fas fa-tasks"></i></span> Informações para Verificação
        </h5>
        <!-- First Row: Informações Verificação -->
        <div class="row">
          <!-- Input Text -->
          <div id="coluna-checklist" class="col-xs-12 col-md-12">
            <div class="form-group">
              <label class="font-weight-bold"
                >{Label.checklistParaSolicitarLiberacao}</label
              >
              {Campo.checklistParaSolicitarLiberacao}
            </div>
          </div>
        </div>
      </section>
      <!-- Sexta Seção: Informações Auxiliares ao Processo -->
      <section id="section-informacoes-auxiliares" style="display: none">
        <!-- First Row - Informações Auxiliares -->
        <div class="row">
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold"
                >{Label.centralRequisitante}</label
              >
              {Campo.centralRequisitante}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold"
                >{Label.cooperativaRequisitante}</label
              >
              {Campo.cooperativaRequisitante}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.areaRequisitante}</label>
              {Campo.areaRequisitante}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.postoRequisitante}</label>
              {Campo.postoRequisitante}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.nomeRequisitante}</label>
              {Campo.nomeRequisitante}
            </div>
          </div>
        </div>
        <!-- Second Row - Informações Auxiliares -->
        <div class="row">
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.areaResponsavel}</label>
              {Campo.areaResponsavel}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.posicaoResponsavel}</label>
              {Campo.posicaoResponsavel}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.message}</label>
              {Campo.message}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold"
                >{Label.repassarParaLiberacao}</label
              >
              {Campo.repassarParaLiberacao}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.tipoRetorno}</label>
              {Campo.tipoRetorno}
            </div>
          </div>
        </div>
        <!-- Third Row - Informações Auxiliares -->
        <div class="row">
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.associacao}</label>
              {Campo.associacao}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.usuarioAssociado}</label>
              {Campo.usuarioAssociado}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.dataAssociacao}</label>
              {Campo.dataAssociacao}
            </div>
          </div>
          <!-- Input Text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.tipoCadastrado}</label>
              {Campo.tipoCadastrado}
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
