<style>
  section.informacoes-da-isencao .porcentagem-range {
    display: flex;
  }

  section.informacoes-da-isencao .custom-range {
    margin-right: 10px;
  }

  h5.hr-title {
    margin-top: 1.3rem;
  }

  h5.hr-title i {
    margin-right: 1rem;
  }

  .funkyradio-success input[type='radio']:checked ~ label:before,
  .funkyradio-success input[type='checkbox']:checked ~ label:before {
    background-color: #016649;
  }

  .funkyradio input[type='radio']:empty ~ label.is-invalid:before,
  .funkyradio input[type='checkbox']:empty ~ label.is-invalid:before {
    border: 1px solid #dc3545;
  }

  .funkyradio input[type='radio']:empty ~ label.is-valid:before,
  .funkyradio input[type='checkbox']:empty ~ label.is-valid:before {
    border: 1px solid #28a745;
  }

  .was-validated .form-integra .form-control:valid,
  .form-integra .form-control.is-valid {
    background-position: right calc(0.375em + 0.58rem) center;
  }

  .was-validated .form-integra .form-control:invalid,
  .form-integra .form-control.is-invalid {
    background-position: right calc(0.375em + 0.58rem) center;
  }

  .form-integra .required {
    color: #495057 !important;
  }

  .form-integra .required.is-invalid {
    color: #dc3545 !important;
  }

  .required-radio.is-invalid label.radio {
    color: #dc3545 !important;
  }
</style>

<div class="form-integra">
  <div class="container-fluid">
    <div class="informacoes-do-coorperado">
      <div class="card bg-primary text-white text-center mb-3">
        <div class="card-body p-2">
          <h4 class="mb-0">Informações da Solicitação</h4>
        </div>
      </div>

      <section class="conta-do-coopera">
        <div class="row">
          <!-- input text with search -->
          <div class="col-xs-12 col-md-3">
            <div class="form-group">
              <label class="font-weight-bold">{Label.contaDoCooperado}</label>
              <div class="input-group">
                {Campo.contaDoCooperado}
                <div style="display: none;" class="input-group-append">
                  <button
                    type="button"
                    class="btn btn-primary procurar-informacoes-do-cooperado"
                  >
                    Buscar
                    <span
                      style="display: none;"
                      class="spinner-border spinner-border-sm spinner-loader"
                      role="status"
                    ></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="informacoes-do-cooperado">
        <h5 class="hr-title text-dark border-bottom border-gray pb-2">
          <span><i class="fas fa-user-tie"></i></span>Informações do Cooperado
        </h5>

        <div class="row">
          <!-- input text -->
          <div class="col-xs-12 col-md-4">
            <div class="form-group">
              <label class="font-weight-bold">{Label.nomeRazaoSocial}</label>
              {Campo.nomeRazaoSocial}
            </div>
          </div>
        </div>

        <div class="row">
          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.matricula}</label>
              {Campo.matricula}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.tipoDePessoa}</label>
              {Campo.tipoDePessoa}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.agencia}</label>
              {Campo.agencia}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.renda}</label>
              {Campo.renda}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.profissao}</label>
              {Campo.profissao}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.dataDeAssociacao}</label>
              {Campo.dataDeAssociacao}
            </div>
          </div>
        </div>
        <div class="row score-serasa-section">
          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.scoreSerasa}</label>
              {Campo.scoreSerasa}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.faixaScore}</label>
              {Campo.faixaScore}
            </div>
          </div>
        </div>
      </section>

      <section class="informacoes-do-cartao">
        <h5 class="hr-title text-dark border-bottom border-gray pb-2">
          <span><i class="far fa-credit-card"></i></span>Informações do Cartão
        </h5>

        <div class="funkyradio div-contas-cartao row"></div>

        <div class="row">
          <!-- input text -->
          <div class="col-xs-12 col-md-2 conta-cartao-sipag">
            <div class="form-group">
              <label class="font-weight-bold">{Label.contaCartaoSipag}</label>
              {Campo.contaCartaoSipag}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.modalidadeDoCartao}</label>
              {Campo.modalidadeDoCartao}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">
                {Label.existemParcelasPagas}
              </label>
              {Campo.existemParcelasPagas}
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">{Label.cartaoAdicional}</label>
              {Campo.cartaoAdicional}
            </div>
          </div>
        </div>
      </section>

      <section class="informacoes-da-isencao">
        <h5 class="hr-title text-dark border-bottom border-gray pb-2">
          <span><i class="fas fa-percent"></i></span>Informações da Isenção
        </h5>

        <div class="row">
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label
                for="rangePercentualDaIsencao"
                class="font-weight-bold text-dark"
              >
                {Label.percentualDaIsencao}
              </label>
              <span class="span-porcentagem-isencao"
                >{Campo.percentualDaIsencao}</span
              >
              <div class="porcentagem-range porcentagem-isencao"></div>
            </div>
          </div>

          <!-- input text -->
          <div class="col-xs-12 col-md-2">
            <div class="form-group">
              <label class="font-weight-bold">
                {Label.aprovarValorDeIsencaoSolicitado}
              </label>
              {Campo.aprovarValorDeIsencaoSolicitado}
            </div>
          </div>

          <div class="col-xs-12 col-md-2 div-percentual-aprovado">
            <div class="form-group">
              <label
                for="rangePercentualAprovado"
                class="font-weight-bold text-dark"
              >
                {Label.percentualAprovado}
              </label>
              <span class="span-porcentagem-aprovado">
                {Campo.percentualAprovado}
              </span>
              <div class="porcentagem-range porcentagem-aprovado"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="informacoes-auxiliares" style="display: none">
  <div>{Label.cooperativaRequisitante} {Campo.cooperativaRequisitante}</div>
  <div>{Label.areaRequisitante} {Campo.areaRequisitante}</div>
  <div>{Label.postoRequisitante} {Campo.postoRequisitante}</div>
  <div>{Label.nomeRequisitante} {Campo.nomeRequisitante}</div>
  <div>{Label.tipoCadastrado} {Campo.tipoCadastrado}</div>
  <div>{Label.postoConta} {Campo.postoConta}</div>
  <div>{Label.areaResponsavel} {Campo.areaResponsavel}</div>
  <div>{Label.posicaoResponsavel} {Campo.posicaoResponsavel}</div>
</div>
